[2016-08-06 11:15] vbauer opened #1 "Add information about licensing"

[2016-08-07 08:44] nguyenhoanglam commented on #1
I've added license info. Please check it out!
Thanks!

[2016-08-07 10:03] vbauer commented on #1
Thank you for information!

[2016-08-07 10:03] #1 closed

[2016-08-09 10:43] pinvisible opened #2 "Getting below error."
java.lang.NoSuchFieldError: No static field menu_add of type I in class Lcom/nguyenhoanglam/imagepicker/R$id; or its superclasses (declaration of 'com.nguyenhoanglam.imagepicker.R$id' appears in /data/data/com.trinityholisticsolutions.poojamedimart/files/instant-run/dex/slice-slice_6-classes.dex)
                                                                                                at com

[2016-08-09 23:25] AstonBraham commented on #2
Same here...

I have found a quick dirty trick you can use while the author fixes this..
1- Rename your menu_main.xml to somethink like menu_principal.xml
2 - Copy menu_main.xml from this library's res/menu forlder to you app's res/menu folder and it should be done

[2016-08-10 02:38] nguyenhoanglam commented on #2
@AstonBraham Do you have any solution for this error without renaming the menu file?

[2016-08-10 09:55] AstonBraham commented on #2
Sure,

You can dynamically add the menu items..
Thus, you won't need to replace/reame/override ressource files..
I can open a pull request if needed to fix it..
I also noticed that the ImagePickerActivity doesn't use the default app theme

2016-08-10 2:38 UTC, Nguyen Hoang Lam <notifications@github.com>:

[2016-08-10 09:59] AstonBraham commented on #2
Sure,

You can dynamically add the menu items..
Thus, you won't need to replace/reame/override ressource files..
I can open a pull request if needed to fix it..
I also noticed that the ImagePickerActivity doesn't use the default app theme

2016-08-10 9:55 UTC, SAMAH Abraham <abrah.smh@gmail.com>:

[2016-08-11 08:07] YasirAmeen opened #3 "Picking an image using camera or camera images is not showing in imageView."
I am using your library but having some issues like, i am unable to set picture to the ImageView by taking an image from camera.

[2016-08-11 08:22] nguyenhoanglam commented on #3
Did you check whether you successfully received the camera image path?

[2016-08-11 08:23] YasirAmeen commented on #3
Yes i received camera path successfully. I checked in toast

[2016-08-11 08:24] nguyenhoanglam commented on #3
And how do you load that image path to ImageView?

[2016-08-11 08:27] YasirAmeen commented on #3
Here it is,
`_img_one.setOnClickListener(new OnClickListener() {
			@Override
			public void onClick(View view) {

				ImagePicker.create(MyDialog.this)
						.single()
						.showCamera(true)
						.origin(images)
						.start(REQUEST_CODE_PICKER_1);
			}
		});*`

and in onActivityResult..
`@Override
	protected void onActivityResult(int requestCode, int resultCode, Intent data) {
		if (requestCod

[2016-08-11 09:05] nguyenhoanglam commented on #3
I've check your problem and I suggest 2 solutions for you:

1. If you use Picasso, you have to add resize() and centerCrop() methods:
[code]

2. If you use Glide (recommended):
[code]

In my opinion, this error occured because the image's dimension is too large for the ImageView to display. So you should resize the image to the same size with the ImageView's. However, if you use Glide (which alrea

[2016-08-11 09:41] AstonBraham commented on #3
@nguyenhoanglam 's library is working really fine..

I think that you should choose just one image to display in your ImageView..

Not multiple

Try this and let us  know

[code]

[2016-08-11 18:16] nguyenhoanglam commented on #2
@pinvisible I've fixed the error. Please check it out and close this issue!

[2016-08-12 14:17] YasirAmeen commented on #3
Thanks mate,

Your Code is working perfect.
Great Library you made, just thumps fro you :+1:

Regards
Yasir Ameen

[2016-08-12 15:28] #3 closed

[2016-08-12 19:59] Baawaaji opened #5 "Getting error"
![issue](https://cloud.githubusercontent.com/assets/10349245/17635492/278ebffa-60f1-11e6-8ea2-a6e02b4d3253.png)

I am getting this error please help me.

[2016-08-13 02:52] nguyenhoanglam commented on #5
You should use `com.nguyenhoanglam.imagepicker.model.Image` instead of `android.media.Image`

[2016-08-15 01:01] kalkrishnan opened #6 "Images stay selected"
Images once selected stay selected after i exit from my app. How do i set them to deselect after i click add?

[2016-08-15 02:41] nguyenhoanglam commented on #6
I don't know what you really want. Please describe more detail!

[2016-08-15 17:12] benoffi7 opened #7 "Change the activity title"
Hi! I want to change the title of the activity. Can you add a extra parameter ?

Thanks!

[2016-08-16 02:15] #2 closed

[2016-08-16 02:15] #5 closed

[2016-08-16 02:26] nguyenhoanglam commented on #7
I'll add this feature in the next update. But now you can manually change activity title by this way:
1. Download the library and import it to your project as a module
2. Go to the module resource's strings.xml and change title, message or any string you wants

[2016-08-16 09:06] YasirAmeen opened #8 "Getting Error when pressing back button in Picture chooser activity [when no image is selected]"
`08-16 05:05:26.330 24320-24320/yasirameen.com.googlemapdemo E/AndroidRuntime: FATAL EXCEPTION: main
                                                                              Process: yasirameen.com.googlemapdemo, PID: 24320
                                                                              java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=1000, resu

[2016-08-16 10:02] nguyenhoanglam commented on #8
I've tested on my device and there's no error as you mentioned. Make sure that you handle onAcvitityResult properly:
[code]

Note: REQUEST_CODE_PICKER is your unique request code when  starting ImagePickerActivity

[2016-08-16 10:11] YasirAmeen commented on #8
This is the code I am using.

` @Override
    protected void onActivityResult(int requestCode, int resultCode, Intent data) {
        super.onActivityResult(requestCode, resultCode, data);

        switch (requestCode) {

            case REQUEST_CODE_PICKER_1:

                images = data.getParcelableArrayListExtra(ImagePickerActivity.INTENT_EXTRA_SELECTED_IMAGES);
                try

[2016-08-16 10:23] nguyenhoanglam commented on #8
Your code has a mistake!
Because when you press back button, the result code will be _RESULT_CANCELED_ and no data returned. So if you do:

`images = data.getParcelableArrayListExtra(ImagePickerActivity.INTENT_EXTRA_SELECTED_IMAGES);`

The`images` will be null and the error occurs. To avoid this, you need to check whether result code is _RESULT_OK_ :

[code]

[2016-08-16 10:36] YasirAmeen commented on #8
Dear nguyenhoanglam,

Now code is working without error.
Thank  you for the support once again :-)

Thanks

[2016-08-16 10:44] nguyenhoanglam commented on #8
You deserve it!

[2016-08-16 10:44] #8 closed

[2016-08-16 11:54] skined90 opened #9 "Android Nougat 7.0 camera problem"
When I open camera, it just crash.

android.os.FileUriExposedException: file:///storage/emulated/0/Pictures/Camera/IMG_20160816_135126.jpg exposed beyond app through ClipData.Item.getUri()

[2016-08-16 19:56] benoffi7 commented on #7
Thanks!

2016-08-15 23:26 GMT-03:00 Nguyen Hoang Lam <notifications@github.com>:

[2016-08-17 03:18] jeungjeung opened #10 "Error when returning to ImagePicker from landscape camera"
Hi,

I have a SONY Xperia Z5 which the camera is default in landscape mode.

After I took a picture from the camera app and return to the picker, the picker became landscape too, even I am holding my phone up right.

Then I  shake a bit my phone trying to make the picker back to portrait. The following error was found.

java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.M

[2016-08-17 06:46] maxotov opened #12 "Correctly work android 4 and higher versions?"
Hi! I want to know, did you try to test your library for any android 4 or high device? Correctly it wok for any device? Thank you.

[2016-08-17 06:52] nguyenhoanglam commented on #12
The library works well from API 15 or higher version but Android N as reported in [issue #9](https://github.com/nguyenhoanglam/ImagePicker/issues/9)

[2016-08-17 08:07] maxotov commented on #12
Did you test on Android 6 api 23 too? When open gallery do you check permissions? And on android N what api level version? This is latest android version?

[2016-08-17 08:29] nguyenhoanglam commented on #12
The library checks permissions when running on API 23 or higher.
Android N is the upcoming version 7.0 . There is an error when capturing image and I'm trying to fix this bug.

[2016-08-17 08:31] maxotov commented on #12
Thank you for quick response

[2016-08-17 08:35] #12 closed

[2016-08-18 05:40] maxotov opened #13 "Selected images can't come in result activity"
I have two activity one of them list of item and one adding item activity. In adding item activity i call your ImagePickerActitvity to select images. Then ImagePickerActivity when i select images and push add button, in my activity doesn't come any response. This is problem occured, i guess when in adding item activity press back button to list of item activity. Then i open adding activity again,

[2016-08-18 05:43] maxotov commented on #13
log when i open imagePickerActivity
`08-18 11:47:22.164 28278-28278/kz.tamur.shopmanage I/AppCompatViewInflater: app:theme is now deprecated. Please move to using android:theme instead.
08-18 11:47:22.171 28278-28278/kz.tamur.shopmanage D/ProgressBar: setProgress = 0
08-18 11:47:22.171 28278-28278/kz.tamur.shopmanage D/ProgressBar: setProgress = 0, fromUser = false
08-18 11:47:22.171 28278-28278/k

[2016-08-18 07:30] nguyenhoanglam commented on #13
Thanks for reporting this bug. I've just fixed it and please wait for the next release!

[2016-08-18 10:13] Baawaaji commented on #13
I am also facing similar problem here is my log:
 E/BitmapFactory: Unable to decode stream: java.io.FileNotFoundException: /storage/emulated/0/DCIM/Camera/IMG_20160808_235807.jpg
                                                                               : open failed: ENOENT (No such file or directory)

[2016-08-18 10:19] nguyenhoanglam commented on #13
@Baawaaji This error occurred when capturing image, right? Did you run on emulator or device?

[2016-08-18 11:41] Baawaaji commented on #13
This error occured during selecting image or capturing image and I testing it on emulator too and its gave me same errors.

[2016-08-19 06:41] nguyenhoanglam commented on #7
@benoffi7 Version 1.0.3 is available. Please check out new feature!

[2016-08-19 06:44] nguyenhoanglam commented on #13
@Baawaaji @maxotov Version 1.0.3 is now available. Please check out if the bug is solved!

[2016-08-19 07:45] YasirAmeen opened #14 "Need More Help ...."
Hey nguyenhoanglam,

Thank you for all the help you provided me.

I want to ask one thing if you don't mind.
When taking picture using your library from camera, its first appear in gallery then we select it to be use.

Now i want it to be like , " after taking picture from camera its selected in activity results"

more clearly, like facebook does when take picture from camera.

Millions of thanks

[2016-08-19 09:31] nguyenhoanglam opened #15 "Problem with Jitpack"
Hi everyone!

Currenly, I use [Jitpack](https://jitpack.io/) to release a new version. In version 1.0.1 and 1.0.2, everything works well. Now I have a problem when releasing version 1.0.3:
- First, I created a tag named "1.0.3" on Github, you can check it [here](https://github.com/nguyenhoanglam/ImagePicker/tree/1.0.3)
- Then I go to [Jitpack](https://www.jitpack.io/#nguyenhoanglam/ImagePicker) an

[2016-08-19 10:02] nguyenhoanglam commented on #14
You can custom my library to meet your expectation!
In ImagePickerActivity, modify onActivityResult method like this:

[code]

Please feel free to ask me any question!

[2016-08-19 14:40] benoffi7 commented on #7
Wow!!! Thanks a lot!!!

2016-08-19 3:41 GMT-03:00 Nguyen Hoang Lam <notifications@github.com>:

[2016-08-19 16:42] Hitexroid opened #16 "it's possible to show folders like a Gallery ?"
it's possible to show folders like a GalleryApp ?

right now images in recyclerview sorted by date added!

[2016-08-20 02:40] nguyenhoanglam commented on #16
No, it's not possible to show folder. I would consider to add this feature to this library.

[2016-08-20 08:09] codevalley opened #17 "Imagepicker doesn't return result on second call."
I am using imagepicker activity in the following way.
[code]
This same structure is used in a few activities.
When I call this for the first time, it works perfectly. On second call, (either from the same activity or different one), the `onActivityResult()` is not called. It works again when you kill and start the app.
Tested on multiple devices running Marshmallow.

[2016-08-20 09:19] nguyenhoanglam commented on #17
@codevalley  I've fixed this bug already but I'm getting problem when releasing the next version to Github as I mentioned [here](https://github.com/nguyenhoanglam/ImagePicker/issues/15) . Please wait until I find the solution!

[2016-08-21 15:10] codevalley commented on #17
Sure thing!

[2016-08-22 00:59] Try4W opened #19 "Looks like your .gitignore still pass extra files in repository"
[code]

But you can try mine:

[code]

[2016-08-23 06:46] parkjaeiek commented on #9
my think 7.0 change file access

assing file:// URIs outside the package domain may leave the receiver with an unaccessible path. Therefore, attempts to pass a file:// URI trigger a FileUriExposedException. The recommended way to share the content of a private file is using the FileProvider.

from : https://developer.android.com/about/versions/nougat/android-7.0-changes.html

[2016-08-23 12:01] boss1088 commented on #16
@nguyenhoanglam Hi, I create a pull request. Here you can enable folder mode with
ImagePicker.create(this)
                .folderMode(true)
or adding to intent
intent.putExtra(ImagePickerActivity.INTENT_EXTRA_FOLDER_MODE, true);

[2016-08-23 12:17] maxotov opened #22 "NullPointerException"
Hi! I noticed exception, when after take picture i press ok button, and app stop running and write below:
`java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Message android.os.Handler.obtainMessage()' on a null object reference
                                                                         at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$ImageLoad

[2016-08-23 12:24] maxotov commented on #22
until i added code to check to null object handler
`if(handler!=null) {
                message = handler.obtainMessage();
                message.what = Constants.FETCH_COMPLETED;
                message.sendToTarget();
            }`
seems exception is gone.

[2016-08-23 12:48] Hitexroid commented on #16
Thank you so much ! can you send your updated library to my gmail account ?
i really need it :+1:

[sadeq.hitex@gmail.com](mailto:sadeq.hitex@gmail.com)

[2016-08-24 03:33] Hitexroid commented on #16
@nguyenhoanglam

i created item_folder.xml and copy your xml code, into res/layout
when i use your code , compiler returns this Error :

..\res\layout\item_folder.xml:22: error: Error: No resource found that matches the given name (at 'id' with value '@id/name').
..\res\layout\item_folder.xml:34: error: Error: No resource found that matches the given name (at 'id' with value '@id/num').

[2016-08-24 06:14] Aintsoa commented on #13
I still have the same problem, when I click on the button add in "ImagePickerActivity" my application closes. Can you help me!

[2016-08-24 07:00] andhie commented on #9
This is my changes to fix the issue

[code]

[2016-08-24 07:18] nguyenhoanglam commented on #9
@andhie Thank you very much for your contribution. Currently I don't have Android N to check your code. As soon as I successfully install Android N on the emulator, I'll let you know. Now I'm fixing other bugs and adding some features. I hope you keep supporting this library to make it more useful!

Thanks!

[2016-08-24 12:31] maxotov commented on #13
Aintsoa, try call ImagePickerActivity by traditional way.
`Intent intent = new Intent(this, ImagePickerActivity.class);

intent.putExtra(ImagePickerActivity.INTENT_EXTRA_MODE, ImagePickerActivity.MODE_MULTIPLE);
intent.putExtra(ImagePickerActivity.INTENT_EXTRA_LIMIT, 10);
intent.putExtra(ImagePickerActivity.INTENT_EXTRA_SHOW_CAMERA, true);
intent.putExtra(ImagePickerActivity.INTENT_EXTRA_SELECTED_

[2016-08-25 03:18] maxotov opened #23 "in android 6 not function to check permission to take photo"
In android 6 sdk 23 when press button to take photo app stop running and show exception in the log that doesn't permission to take picture

[2016-08-25 03:29] nguyenhoanglam commented on #23
Maybe you did not grant permission when start picker activity at the first time. You can click "OK" on the snackbar to show permission request dialog. However I'm going to fix this bug right now.

Thanks!

[2016-08-25 03:35] maxotov commented on #23
Yes, in first time when i go to ImagePickerActivity show me gialog to agree use system gallery. I press ok. But i press camera icon button in the toolbar app show me exception about camera permission. I guess it seems you did only permission to use system gallery.

[2016-08-26 13:29] prsnt opened #24 "Crash while taking photo using camera."
while cheking in kitkat. i found an issue when i clicked photo using camera it shows double photos with same capture. and another issue is my application is crashed while taking picture in camera(in LOLLIPOP).

[2016-08-26 18:09] kalkrishnan commented on #6
Say I go into my gallery using this and select a few images and click add which closes the gallery. Later if i go back into my gallery using this, the images I had selected earlier stay selected. This seems like an issue to me, shouldn't the selections clear once I have clicked add?

[2016-08-29 00:42] khemmachattk opened #25 "Crash Crash with Camera"
E/AndroidRuntime: FATAL EXCEPTION: Thread-1217
                                                                     Process: com.modize.digicard, PID: 29429
                                                                     java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Message android.os.Handler.obtainMessage()' on a null object reference

[2016-08-30 08:09] nguyenhoanglam opened #26 "Prepare for new release"
Hi everyone! (@maxotov @khemmachattk @prsnt @codevalley @Hitexroid)

Thanks for supporting the library!
In the past week, I'm trying to fix bugs that you reported including camera crash, not return data and add folder mode. So I need all of your help to test [fix_album_mode](https://github.com/nguyenhoanglam/ImagePicker/tree/fix_album_mode) branch before releasing it. If you find bugs, please comm

[2016-09-01 04:55] mansoorriaaz commented on #25
I have the same issue here, any fix for this?

java.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Message android.os.Handler.obtainMessage()' on a null object reference
                                                                        at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$ImageLoaderRunnable.run(ImagePickerActivity.java:545)

[2016-09-01 04:57] mansoorriaaz commented on #22
Hai, how to do it? could please explain. thx

[2016-09-01 11:06] maxotov commented on #22
Hi, it is mine temporary solution, if you want to try then firstly add library as module to app and change this line of this file ImagePickerActivity.java:545 which i added. But i guess seems author of library decided this problem, we expect author response. Till i didn't update last updating library version.

[2016-09-01 19:07] khemmachattk commented on #26
thank for support us

[2016-09-01 22:08] jhay143pee opened #27 "Error:(34) Error retrieving parent for item: No resource found that matches the given name 'android:Widget.Material.Button.Colored'."
compileSdkVersion 21
 buildToolsVersion "21.1.2"
 minSdkVersion 19
 targetSdkVersion 21
 versionCode 12
 versionName "2.1"

Hello there,

I have a project , and i want to use it on SDK 21, is it possible? I really love this library, its so easy to use.

[2016-09-02 01:45] nguyenhoanglam commented on #27
OK. I'll check your problem soon!

[2016-09-04 12:06] andhie commented on #27
it is because your version is too low.
Widget.Material.Button.Colored only appear on API 23 but you are compiling against API 21
https://developer.android.com/reference/android/R.style.html#Widget_Material_Button_Colored

[2016-09-05 19:11] #15 closed

[2016-09-06 02:37] nguyenhoanglam commented on #27
@jhay143pee You should compile the library with API 23 as @andhie mentioned.
Version 1.1.1 is available now. Please check it out!

[2016-09-06 08:43] danndi commented on #24
Hello,
photos, that are created from this library are shown twice in my device too. I am using Android 5.0.1. In the regular gallery application the photo is shown only once.

Also the exception is thrown. This is the message:

`ava.lang.NullPointerException: Attempt to invoke virtual method 'android.os.Message android.os.Handler.obtainMessage()' on a null object reference

[2016-09-06 08:47] nguyenhoanglam commented on #24
@danndi Did you check version 1.1.1 yet? This version fixed _NullPointerException_ . I'll try to fix the duplicate bugs soon!

[2016-09-06 09:01] danndi commented on #24
Thank you for your response. I have tried the new version and no crash occurred yet :). Good job and good luck with the duplicate bug.

[2016-09-06 09:03] nguyenhoanglam commented on #24
The new version has a new feature: _**folder mode**_. Look more detail in README file.

[2016-09-06 09:12] danndi commented on #24
I am trying it now. It works great. Thank you for this library.

Anyway I have tried to make a photo using the intent from your app. The photo is duplicated in the ImagePicker gallery. In the gallery application of the device it is only once. So I deleted this photo in the gallery. Then I tried your ImagePicker again and the photo is there but only once (although it should be removed completely).

[2016-09-06 09:16] nguyenhoanglam commented on #24
Thanks for your valuable testing. Hope you enjoy my library!

[2016-09-07 00:52] jhay143pee commented on #27
I would love too, but my project max is 21 only. If im going to upgrade it to 23, i will be having problems in HTTPPOSTREQUEST and need to migrate a lot of things.

Thanks anyway guys , i think ill just create my own library.

[2016-09-10 11:58] fansays opened #29 "The height of photos in album comes 'match parent'?"
Both by quick call or using traditional Intent, the situation in the following pic occurs. (Which did not happen when I was using your 1.0.1 version. )
![Screenshot](https://cloud.githubusercontent.com/assets/11610348/18410290/5715371c-7790-11e6-9164-4a521f321212.jpg)

[2016-09-15 12:37] arashifunsho opened #30 "Working With Fragment"
I have issues using this library with fragments. The result isn't returned even though the host activity has a

`super.onActivityResult(requestCode, resultCode, data);`

in it's onActivityResult method which is also overrode in the fragment to do the necessary manipulation

Please help

[2016-09-15 16:23] nguyenhoanglam commented on #30
You're right! In this case, the bug occurs when you use _**quick call**_ to start picker activity. The _**onActivityResult**_ method not called in fragment but in activity.
To avoid this problem, please call picker using intent. Note that you have to use:
[code]
instead of
[code]
I'll fix this bug in the next version.
Thanks for you report!

[2016-09-15 16:28] #7 closed

[2016-09-15 16:28] #26 closed

[2016-09-15 16:30] #23 closed

[2016-09-15 16:31] #16 closed

[2016-09-15 16:31] #19 closed

[2016-09-15 16:32] #22 closed

[2016-09-15 16:33] #17 closed

[2016-09-16 05:07] maxotov commented on #26
Hi! Thank you for support your best library. I liked that added the
oppotunity to see the folders on the device. I tested latest version of
library on my real device nexus 4 android 5.1.1, work good.  In order to
test with permissions i need devices with android 6.

2016-09-15 22:28 GMT+06:00 Nguyen Hoang Lam <notifications@github.com>:

--
Best wishes, Aibol Maxotov

[2016-09-16 10:11] arashifunsho commented on #30
Awesome... Thank You.... I totally forgot there were two ways stated in the Readme would have tried the other one..

Cheers Bro.... Keep up the good work..

[2016-09-16 10:11] #30 closed

[2016-09-25 14:13] androidapkr opened #33 "Just Remove .gradle, .idea build/generated and gradle/wrapper directory from library"
When you upload your whole project into Github its sync all of the data instead of you original library and sample code to make exclude un necessary files from library because its hard to upload and sync every time and also hard to use another user to use library to his project.

[2016-09-29 12:42] junaidwarsi1994 opened #34 "Crash when using camera"
i am using your lattest library compile 'com.github.nguyenhoanglam:ImagePicker:1.1.1'
when i use camera option it gives concurent modification exception can u please help me to tackle that
: Exception
 Process: com.example.invision.driverapplication, PID: 21913
                                                                                        java.util.ConcurrentModificationException

[2016-09-29 16:52] nguyenhoanglam commented on #34
I've tested this bug and no crash occured. However I changed some code lines and released ver 1.1.2.
Please try the new version and let me know if the bug is gone.

[2016-09-30 04:01] jeungjeung commented on #10
With version 1.1.2, the problem is gone, nice work! and  thank you

[2016-10-05 09:30] joShinichi opened #35 "crash when take with real camera asus zenfone 4c KITKAT OS"
hay, i use your library and that's awesome...
but when after take the picture in real camera asus zenfone 4c,
the crash occurred...

please help..
thanks
best regards

[2016-10-05 09:36] nguyenhoanglam commented on #35
please show me the error description so I know how to fix!

[2016-10-05 09:58] joShinichi commented on #35
there is no error, in logcat...what should i do ?
iam using usb debuger for running my apps

[2016-10-05 10:42] joShinichi commented on #35
10-05 17:40:25.935 11201-11201/com.example.jo_shinichi1.telegramtestgallery E/dalvikvm: Could not find class 'android.graphics.drawable.RippleDrawable', referenced from method android.support.v7.widget.AppCompatImageHelper.hasOverlappingRendering
10-05 17:40:26.025 11201-11201/com.example.jo_shinichi1.telegramtestgallery E/IMGSRV: :0: PVRDRMOpen: TP3, ret = 49
10-05 17:40:26.035 11201-11201/com.ex

[2016-10-05 10:44] nguyenhoanglam commented on #35
Please try to build project with sdk 23 or above!

[2016-10-05 10:50] joShinichi commented on #35
my sdk version is 24 sir...

[2016-10-05 14:13] tushar09 commented on #35
I am facing the same problem. My error logcat is RecyclerView: No adapter attached; skipping layout

[2016-10-05 14:23] tushar09 opened #36 "Camera Error"
I am using 1.1.2 and the camera error is still there. When I try to take picture from camera the app crashes.  How to solve it? I am trying it into API 17

[2016-10-06 03:23] nguyenhoanglam commented on #36
Please show me the error description in log console.

[2016-10-06 12:36] AzamatEm opened #37 "Camera crash issue"
Hello! I am getting issue when I try to make photo by camera
here is error log

FATAL EXCEPTION: main
                                                                 Process: ru.knamauto.droid, PID: 1481
                                                                 java.lang.RuntimeException: Unable to resume activity {ru.knamauto.droid/com.nguyenhoanglam.imagepicker.activity.ImagePickerActivi

[2016-10-06 12:43] AzamatEm commented on #37
Btw Android 5.1, phone Fly fs405

[2016-10-07 10:51] bradroid opened #38 "Provider authority is not different on different build variants"
This is how you defined your file provider in Manifest.xml:

[code]

This line is problematic:

[code]

It is important that defined authority is different for different build variants. Your solution hardcodes it to a single value, which is the same for different build variants. Any app that has multiple build variants and uses your library will get this error when trying to install multiple varia

[2016-10-15 19:38] jookovjook opened #39 "Failure [INSTALL_FAILED_CONFLICTING_PROVIDER]"
Hello!
When trying to use the library with 2 different apps, getting this error during installation:
pkg: /data/local/tmp/com.company.application
Failure [INSTALL_FAILED_CONFLICTING_PROVIDER]
As i know, the use is connected to authorities. But i really can't get how to cope with it.
Please, can you help me? Thanks

[2016-10-26 16:18] tank777 opened #40 "Camera Error"
FATAL EXCEPTION: main
                  Process: galaxy.tech.mobileexchangeradmin, PID: 24976
                  java.lang.IllegalThreadStateException: Thread already started
                      at java.lang.Thread.checkNotStarted(Thread.java:849)
                      at java.lang.Thread.start(Thread.java:1059)
                      at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity.

[2016-11-14 20:45] alfaro28 commented on #39
Hi, we had the same problem with some of our apps, the solution we found is to define a string in your strings.xml like this:

<string name="shared_file_provider">com.nguyenhoanglam.imagepicker.provider.YOURPROJECTNAME</string>

[2016-11-15 03:32] mkhan07 commented on #34
I have also used the library version 1.1.1 and found similar crash in crash log of live app. Please find stacktrace for the same

Fatal Exception: java.util.ConcurrentModificationException
       at java.util.ArrayList$ArrayListIterator.next(ArrayList.java:573)
       at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity.getFolder(SourceFile:825)
       at com.nguyenhoanglam.imagepicker.a

[2016-11-15 03:51] nguyenhoanglam commented on #34
Please try latest version !

`compile 'com.github.nguyenhoanglam:ImagePicker:1.1.2'`

[2016-11-17 21:45] gcatak opened #41 "Not working"
It is not working? and it is not clear.

How  can I set imageview this
`ArrayList<Image> images = data.getParcelableArrayListExtra(ImagePickerActivity.INTENT_EXTRA_SELECTED_IMAGES);`
??

Why do not you explain?? It is the most important thing and explaining should not be hard but you did not explain why?

[2016-11-18 07:14] nguyenhoanglam commented on #41
You can display image into ImageView as below:
[code]

[2016-11-22 18:45] funriser opened #42 "Images stay selected when you restart ImagePickerActivity"

[2016-11-22 20:10] #42 closed

[2016-11-23 02:24] nguyenhoanglam commented on #42
If you want to unselect all pictures, just simply *do not call the origin()
method* when start picker activity. For example:

ImagePicker.create(this)
            .multi()
            .start(REQUEST_CODE_PICKER);

Best regards,

*Hoang Lam Nguyen*

Android Developer

Mobile: 0987 857 818

Skype: hoanglamvn90

URL: *https://about.me/hoanglamvn90 <https://about.me/hoanglamvn90>*

2016-11-23 3:10 GMT

[2016-11-23 08:38] pinvisible opened #44 "App closed on launching Image Picker code"
#### My Code

ImagePicker.create(this)
                .folderMode(true) // folder mode (false by default)
                .folderTitle("Folder") // folder selection title
                .imageTitle("Tap to select") // image selection title
                .single() // single mode
                .showCamera(true) // show camera or not (true by default)
                .start(123456); // start im

[2016-11-23 09:38] arkty commented on #36
@nguyenhoanglam https://github.com/nguyenhoanglam/ImagePicker/pull/45
Probably this is the same crash. NullPointerException. Confirmed on Nexus 5X Android 7.0.

[2016-11-23 09:51] pinvisible opened #46 "sample app crashing on clicking camera icon"
Hello,

App is sample crashing on clicking top right camera icon.

[2016-11-23 18:17] gcatak opened #47 "It gives error after take photo by camera for some devices"
According to user feedback, it gives error after take photo by camera. Then, how to solve?
In my smartphone, there is no problem camera is working properly. So no logcat but for some smartphones it gives error. How to solve?

[2016-11-24 02:46] nguyenhoanglam commented on #46
Which Android version are you using?

[2016-11-24 03:34] anvar1101 opened #48 "ConcurrentModificationException"
java.util.ConcurrentModificationException
                                                       at java.util.ArrayList$ArrayListIterator.next(ArrayList.java:573)
                                                       at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$5.handleMessage(ImagePickerActivity.java:602)
                                                       at android.os.Hand

[2016-11-24 04:51] pinvisible commented on #46
Version 25.0.0

[2016-11-24 04:55] pinvisible opened #49 "Urgent : App Crashing due to - java.lang.NullPointerException: uriString"
Hello ,

Thanks for such a nice library. Really like this.

I want to select only single image. I clicked camera, captured photo, but i am getting null result so app is crashing.

Code:

 ImagePicker.create(this)
                .folderMode(true) // set folder mode (false by default)
                .folderTitle("Folder") // folder selection title
                .imageTitle("Tap to select") // im

[2016-11-24 07:40] nguyenhoanglam commented on #49
I've just released version 1.1.3. Please check it out and let me know the result!

[2016-11-25 08:54] deannrchsnl commented on #34
I have also used the library version 1.1.2 and found similar crash in crash log of live app like @mkhan07  .
Fatal Exception: java.util.ConcurrentModificationException
at java.util.ArrayList$ArrayListIterator.next(ArrayList.java:573)
at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity.getFolder(SourceFile:825)
at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$ImageLoaderRun

[2016-11-30 09:45] belinwu opened #51 "Let minSdkVersion=14 please!"

[2016-12-02 12:16] sagarnayak opened #52 "I want to get the picture directly after taking picture from the camera."
if i am selecting the option to take a picture from camera and then it just take the picture and then i have to select the picture from the gallery. so i want to just get the picture returned after i take the picture from the camera. i dont want to select the same picture after i take that picture. please suggest a solution.

[2016-12-02 14:55] edindubai commented on #47
It crashes the Samsung S4 Mini camera after taking the photo in 1.1.3 android version 4.2.2. The picture arrives in the gallery though but only after "Unfortunately, Camera has stopped" message, it is a guaranteed crash on every try. (works ok on S6 edge)

On another matter is it possible to return to the open camera folder after taking the photo rather than the front page with all the other image

[2016-12-06 10:21] edindubai opened #53 "Crashes the Samsung S4 Mini camera after taking the photo in 1.1.3, android version 4.2.2 (catlog incl.)"
It crashes the Samsung S4 Mini camera after taking the photo in 1.1.3 android version 4.2.2. The viewfinder continues to be active for about 4 seconds more after pressing the take photo button and then finally freezes. The picture (from point of capture not where viewfinder freezes) arrives in the gallery though but only after "Unfortunately, Camera has stopped" message, it is a guaranteed crash o

[2016-12-26 13:06] anvar1101 commented on #48
java.util.ConcurrentModificationException\n\tat java.util.ArrayList$ArrayListIterator.next(ArrayList.java:573)\n\tat com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity.getFolder(ImagePickerActivity.java:825)\n\tat com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$ImageLoaderRunnable.run(ImagePickerActivity.java:791)\n\tat java.lang.Thread.run(Thread.java:818)\n

[2017-01-06 13:26] edindubai commented on #53
I found a more recent modified version of this library which doesn't have the above crash here: https://android-arsenal.com/details/1/4618

[2017-01-06 13:28] edindubai commented on #47
This version seems to not crash https://android-arsenal.com/details/1/4618

[2017-01-31 19:34] deepakdezire23 opened #54 "Captured image not showing only in Samsung galaxy s4"
After going through so many blog and hints i didnt found solution. I want to show captured image in android image view. Below you can find the code i am using to capture an image from camera.
Please provide the solution that will work for all the devices.

   private void onLaunchCamera() {

        // create Intent to take a picture and return control to the calling application
        Intent int

[2017-03-17 10:33] iffanmajid opened #55 "ImagePickerActivity NullPointerException"
Got this from fabric:

       at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$ImageLoaderRunnable.run(ImagePickerActivity.java:755)
       at java.lang.Thread.run(Thread.java:818)

Here's my code:
[code]

[2017-04-17 11:57] mba3gar opened #56 "Info about selecting a single photo"
Please i want to select just one single photo and return it's result in ImageView instead of returning it's path

the main issue is that i can't replace the array of images or strings in a single one can you please assist ?

Thank you :)

[2017-04-18 03:15] nguyenhoanglam commented on #56
If you want to select only one photo, use single mode:
[code]

Then onActivityResult, use Glide (or Picasso) to load the path into ImageView:

[code]

[2017-05-14 04:57] hak24 opened #57 "Activity Toolbar Color?"
Is there any way to chage activity primary color from pink to any other?

[2017-05-20 17:29] Jhandei commented on #9
Any workaround for this issue?

[2017-05-22 21:30] searchy2 opened #59 "URGENT: Update Glide to v4.0.0"
This library is NOT compatible with people using Glide v4.0.0 as a dex error occurs. The error is due to this library using Glide v3.7 while the latest version is v4.0.0.

Please merge PR #58 which solves this issue. Thank you!

[2017-05-22 21:31] searchy2 commented on #59
Note that Glide v4.0.0 is a major version release and contains API breaking changes. This means that users MUST update their implementation of Glide to v4.0.0 in order to use this library once this library is updated.

[2017-06-04 20:16] chandragithub2014 commented on #9
java.lang.SecurityException: Not allowed to start activity Intent { act=android.intent.action.GET_CONTENT typ=*/* } . I got the above exception when I try to launch camera

[2017-06-11 05:54] djdance opened #60 "Change DONE button title"
Please add .doneTitle() for the case of another language

[2017-06-11 14:18] searchy2 opened #61 "Library Still Maintained?"
Many issues and open PRs with no response from @nguyenhoanglam
Is this library still maintained?

[2017-06-12 09:18] saneeshvs opened #62 "Images captured using camera is not automatically selected"
When I capture a image using the camera provided in the ImagePicker it doesn't get selected automatically, rather we have to select it from the folder, is there a option to select images captured using camera automatically.

[2017-06-15 15:15] sinadalvand commented on #57
you should go to external library and find "Imagepicker"
open that and go to res folder and find "toolbar" in layout after that you just need to edit this code:

android:background="#your color code"

[2017-06-16 11:55] kapoet commented on #34
have the same problem. I think the app crash because we are using folder mode

[2017-06-17 18:11] djdance commented on #53
thanks, edindubai

[2017-06-19 13:47] prasad456 commented on #55
I'm getting the same issue in your sample code

`06-19 19:14:16.089 26182-26737/com.nguyenhoanglam.sample E/AndroidRuntime: FATAL EXCEPTION: Thread-2191
                                                                           Process: com.nguyenhoanglam.sample, PID: 26182
                                                                           java.util.ConcurrentModificationException

[2017-06-19 15:29] searchy2 commented on #59
Please update @nguyenhoanglam

[2017-07-19 01:49] searchy2 commented on #61
No activity or response to inquiries on this library for 4+ months. Giving up on this library and instead contributing to https://github.com/Werb/PickPhotoSample
Improved elegance and more features too!

[2017-07-19 01:49] #61 closed

[2017-07-19 01:50] searchy2 commented on #59
No activity or response to inquiries on this library for 4+ months. Giving up on this library and instead contributing to https://github.com/Werb/PickPhotoSample
Improved elegance and more features too!

[2017-07-19 01:50] #59 closed

[2017-07-19 07:17] SolLim opened #64 "doensn't work in glide 4.0.0"
doensn't work in glide

java.lang.NoSuchMethodError: No virtual method load(Ljava/lang/String;)Lcom/bumptech/glide/DrawableTypeRequest; in class Lcom/bumptech/glide/RequestManager; or its super classes (declaration of 'com.bumptech.glide.RequestManager' appears ...)

[2017-07-19 15:47] searchy2 commented on #64
Issue #59
See my PR #58

[2017-07-19 15:48] searchy2 commented on #64
This library seems to have been abandoned. I recommend https://github.com/Werb/PickPhotoSample
which I contribute to instead.

[2017-07-21 20:58] RurouniX commented on #60
Hi.

Add this `<string name="done">YOUR STRING</string>` in your string.xml to override the string .

[2017-08-10 08:35] gabivitcord commented on #64
Yes. It does not work on Glide 4.0.0. What a pity not to update this library...

[2017-08-23 14:09] chnouman opened #65 "Crash on just Start"
[code]

[2017-09-06 16:30] Rainer-Lang opened #66 "Difference to another lib..."
I don't know what's the difference between your lib and this one: https://github.com/esafirm/android-image-picker
Maybe you could clarify a bit...

[2017-09-07 04:16] nguyenhoanglam commented on #66
Initially, esafirm had forked my lib (ver 1.1.x) and implemented code style (MVP pattern, helpers class...). Because my old lib had some issues that I can not fixed, so I reused esafirm's code.

There are two differences between my lib to esafirm's lib are:
- Redesign UI
- Provide more additional ways to customize UI
- Customize CameraOnly mode for convenient to use
- Implement Glide v4

[2017-09-07 09:33] Rainer-Lang commented on #66
Thank you very much!

I'm using the esafirm lib - but the missing Glide v4 support isn't very "nice"....

Suggestion:
In ImagePicker-builder: use resource-ids for strings and even colors.  Then you also could use Support Annotations.

[2017-09-07 09:37] Rainer-Lang commented on #64
The sample is working.

[2017-09-07 09:40] Rainer-Lang commented on #41
This is out of this library scope. Showing images with paths in ImageView is basic.
@nguyenhoanglam I think you could close this issue.

[2017-09-07 09:42] Rainer-Lang commented on #40
You you give a bit more information? Maybe a bit of code?

@nguyenhoanglam I don't know, maybe you could close this very old issue.

[2017-09-07 09:42] #41 closed

[2017-09-07 09:43] Rainer-Lang commented on #29
@fansays Is this still in the newest version? If not - please close this issue.

[2017-09-07 09:45] nguyenhoanglam commented on #40
@tank777  Please use version 1.2.0 and let me know if the camera error is gone
@Rainer-Lang Maybe he uses the old version that has camera bug. Thanks!

[2017-09-07 09:45] #40 closed

[2017-09-07 09:45] Rainer-Lang commented on #6
@nguyenhoanglam I could confirm this. Maybe it would be good to have a parameter: keep selected images OR unselect images - something like this.

[2017-09-07 09:46] Rainer-Lang commented on #14
@YasirAmeen Is your question answered? If yes - please close this issue.

[2017-09-07 09:49] Rainer-Lang commented on #54
@deepakdezire23 Have you tried an image lib like Glide to show the image?

[2017-09-07 09:50] nguyenhoanglam commented on #6
@kalkrishnan If you don't want to keep images selected, do not pass selected images parameter. Please update to version 1.2.0 which has more features!

[2017-09-07 09:50] Rainer-Lang commented on #57
Is it right now possible that the toolbar color gets the primary app theme color?

[2017-09-07 09:50] #6 closed

[2017-09-07 09:52] Rainer-Lang commented on #56
@mba3gar Just use Glide like @nguyenhoanglam wrote. It's really straight forward.
@nguyenhoanglam Good answer. I think you could close this issue.

[2017-09-07 09:53] nguyenhoanglam commented on #57
@Rainer-Lang it's impossible in this version. I will update this feature in the next release.
Thanks very much!

[2017-09-07 09:54] #56 closed

[2017-09-07 09:54] Rainer-Lang commented on #52
@sagarnayak For me it's working in the sample app.
@nguyenhoanglam Close this issue?

[2017-09-07 09:55] Rainer-Lang commented on #57
@nguyenhoanglam Thank you for this great lib and your time developing it!

[2017-09-07 09:55] nguyenhoanglam commented on #54
@deepakdezire23 Please update to version 1.2.0 and let me know if the issue is gone!

[2017-09-07 09:56] Rainer-Lang commented on #6
@nguyenhoanglam Write this in the readme? I think this is a really good thing to know.

[2017-09-07 09:58] Rainer-Lang commented on #47
@gcatak @edindubai Are you using the newest version? Please test it - maybe this issue could be closed.

[2017-09-07 09:59] Rainer-Lang commented on #46
@pinvisible Please try the newest version. Maybe this issue could be closed.

[2017-09-07 10:00] Rainer-Lang commented on #39
@nguyenhoanglam Close this?

[2017-09-07 10:05] nguyenhoanglam commented on #52
@Rainer-Lang If you use CameraOnly mode, the image is returned immediately as @sagarnayak expected.

However, if you tap the camera button (on the toolbar, CameraOnly mode = FALSE), the captured image will not be selected automatically. So @sagarnayak asked me to make it auto selected. I'll consider this option if I find it useful and convinient for user.

[2017-09-07 10:06] Rainer-Lang commented on #37
@AzamatEm Please try the newest version, maybe this issue could be closed?

[2017-09-07 10:07] Rainer-Lang commented on #52
@nguyenhoanglam Ah ok, I understand. Then YES - this is really a big PLUS for your lib! :-)

[2017-09-07 10:08] Rainer-Lang commented on #29
@nguyenhoanglam I think this could really be closed...

[2017-09-07 10:09] #29 closed

[2017-09-07 10:10] nguyenhoanglam commented on #52
@Rainer-Lang You think it's a really nice feature, don't you?

[2017-09-07 10:11] #37 closed

[2017-09-07 10:14] nguyenhoanglam commented on #39
@jookovjook @alfaro28 Please update to the newest version. Thanks!

[2017-09-07 10:14] #39 closed

[2017-09-07 10:14] #46 closed

[2017-09-07 10:15] Rainer-Lang commented on #52
@nguyenhoanglam Of course. If the user wants a picture from camera - he just wants THIS and finish. I would use this feature!

[2017-09-07 10:17] nguyenhoanglam commented on #52
@Rainer-Lang That's great! I will update this feature in the next release.
Thank you so much!

[2017-09-07 10:18] nguyenhoanglam commented on #65
@chnouman Please update to the lastest version and let me know if the bug is gone!

[2017-09-07 10:20] nguyenhoanglam commented on #64
@searchy2 Please update to latest version and close this issue if it's works!

[2017-09-07 10:23] Rainer-Lang commented on #66
@nguyenhoanglam Is it possible to include resource-ids in build with the next version? I don't want to convert my resource id strings or colors to strings... I would be a lot of effort. What do you think?

[2017-09-07 10:23] nguyenhoanglam commented on #60
I named it "setDoneTitle()" just to synch with others methods. It's not important , isn't it?

[2017-09-07 10:24] Rainer-Lang commented on #60
@nguyenhoanglam Great! Thanks. Included in the next version?

[2017-09-07 10:25] nguyenhoanglam commented on #66
I'll try to meet you expectation. It's good advice!

[2017-09-07 10:27] nguyenhoanglam commented on #60
@Rainer-Lang what do you mean? :)

[2017-09-07 10:28] Rainer-Lang commented on #66
@nguyenhoanglam I really appreciate your work! I prepare now all to include your lib. But take your time.

[2017-09-07 10:29] nguyenhoanglam commented on #9
Please update to the latest version and let me know if it's works!

[2017-09-07 10:29] #10 closed

[2017-09-07 10:31] Rainer-Lang commented on #60
Will be the "setDoneTitle(@StringRes int doneTitleRes)" method available in the next version?

[2017-09-07 10:34] nguyenhoanglam commented on #66
@Rainer-Lang I'm so happy when you use and support my lib. It give me a motivation to make this lib more useful.

[2017-09-07 10:35] nguyenhoanglam commented on #60
Ah. Sure!

[2017-09-07 10:39] Rainer-Lang commented on #51
@belinwu minSdk 15 should be really enough.... https://developer.android.com/about/dashboards/index.html
Do you really need 14?!

[2017-09-07 10:41] Rainer-Lang commented on #66
@nguyenhoanglam It's already useful and great! :-)

[2017-09-07 10:47] Rainer-Lang opened #67 "Anything about Proguard?"
Is there anything to consider using Proguard and your lib?

[2017-09-07 10:49] Rainer-Lang commented on #53
@edindubai @djdance Want to try the newest version? Or maybe close this issue?
@nguyenhoanglam Close this issue?

[2017-09-07 10:49] nguyenhoanglam commented on #67
I'm not good at Proguard. I think you can use Glide's Proguard for my lib!

[2017-09-07 10:50] #53 closed

[2017-09-07 10:51] Rainer-Lang commented on #67
OK. I'll try your lib with Proguard - and report the result here. Please let this issue open - and I'll also change your readme to add the result. OK?

[2017-09-07 13:28] Rainer-Lang opened #69 "I need an "Intent"."
For my purpose I need to create an ```Intent``` - not only start the ImagePicker.
I'm using RxActivityResult https://github.com/VictorAlbertos/RxActivityResult to streamline the result.

May I ask to add this?

[2017-09-07 14:32] Rainer-Lang commented on #69
see here: https://github.com/nguyenhoanglam/ImagePicker/pull/70

[2017-09-07 14:51] Rainer-Lang commented on #62
@nguyenhoanglam Duplicate of https://github.com/nguyenhoanglam/ImagePicker/issues/52 ? -> Close this?

[2017-09-07 14:52] Rainer-Lang commented on #48
@anvar1101 Could you please test the newest version? Maybe this issue could be closed.

[2017-09-07 14:53] Rainer-Lang commented on #49
@nguyenhoanglam I think this could be closed. There was long time no reaction.

[2017-09-07 14:54] Rainer-Lang commented on #27
@nguyenhoanglam Close this?

[2017-09-07 14:56] Rainer-Lang commented on #36
@tushar09 @arkty @nguyenhoanglam Download newest version and check again - or close this issue maybe?

[2017-09-07 14:57] Rainer-Lang commented on #25
@khemmachattk @mansoorriaaz Please try newest version.
@nguyenhoanglam Long time no reaction. Maybe close?

[2017-09-07 14:58] Rainer-Lang commented on #24
@nguyenhoanglam Close this issue? I think it's fixed. 👍

[2017-09-07 14:59] Rainer-Lang commented on #34
@junaidwarsi1994 @mkhan07 @kapoet Could you test this with the newest version please? Maybe this issue could be closed.

[2017-09-07 15:00] Rainer-Lang commented on #35
@joShinichi @tushar09 Could you please test it with the newest version?
@nguyenhoanglam Maybe this issue could be closed.

[2017-09-07 15:02] Rainer-Lang commented on #55
@iffanmajid @prasad456 I just downloaded the newest version and the sample app is running without any issue. Could you please check it again and report? Thanks.

[2017-09-07 15:04] Rainer-Lang commented on #13
@maxotov @Baawaaji @Aintsoa Does this bug still exists in the newest version? Please check it. Thanks.
@nguyenhoanglam Maybe close this?

[2017-09-07 15:07] Rainer-Lang commented on #44
@pinvisible Could you check it with the newest version?
@nguyenhoanglam Close this issue?

[2017-09-07 16:13] wwwwebexpert commented on #54
Yes I have tired it using Glide but no success. Then i have found solution for this issue with minor updation.

[2017-09-07 16:19] Rainer-Lang commented on #54
@wwwwebexpert Could you explain?

[2017-09-07 16:39] Rainer-Lang opened #71 "Suggestion: Camera overlay"
I want to put an overlay in front of the camera - like this one: https://i.stack.imgur.com/NszHG.png
A round half transparent overlay - because my users should make a profile image - and I show round profile images in my app.

Maybe we could use something like setForeground(Drawable)

[2017-09-08 01:10] nguyenhoanglam commented on #71
Good idea! It's should be an option in next version!

[2017-09-08 01:11] nguyenhoanglam commented on #54
@deepakdezire23 Have you tried ver 1.2.0?

[2017-09-08 01:11] #44 closed

[2017-09-08 01:14] #13 closed

[2017-09-08 01:15] #35 closed

[2017-09-08 01:15] #24 closed

[2017-09-08 01:26] nguyenhoanglam commented on #69
I'll consider this option when I complete other features!

[2017-09-08 06:03] Rainer-Lang commented on #69
Perfect, thanks.

[2017-09-08 06:04] Rainer-Lang commented on #71
Great.

[2017-09-08 07:02] #27 closed

[2017-09-08 07:03] #48 closed

[2017-09-08 07:13] Rainer-Lang commented on #69
I could use your ImagePicker right in this moment, when you release a new version where I could get an ```Intent```.
I'm also open for snapshots to test - if you want.

[2017-09-08 08:16] Rainer-Lang commented on #51
@nguyenhoanglam Close this - or maybe it's possible to use minSdk 14?

[2017-09-08 08:18] belinwu commented on #51
@Rainer-Lang Thanks for your reply. Currently minSdk 15 is enough.

[2017-09-08 08:20] Rainer-Lang commented on #51
@belinwu Then - could you close this issue please. :-)

[2017-09-08 08:22] #51 closed

[2017-09-08 08:22] Rainer-Lang commented on #51
Thanks.

[2017-09-08 08:44] Rainer-Lang commented on #14
@nguyenhoanglam I think the question is answered.

[2017-09-08 08:46] Rainer-Lang commented on #60
@nguyenhoanglam It's already included....so this could be closed?

[2017-09-08 09:12] #60 closed

[2017-09-08 09:13] #14 closed

[2017-09-09 06:05] #55 closed

[2017-09-11 19:21] Rainer-Lang commented on #69
@nguyenhoanglam Some news? If there is a version to test.... :-)

[2017-09-12 12:25] duz17 opened #74 "NullPointerException crash in ImageLoaderRunnable"
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'char[] java.lang.String.toCharArray()' on a null object reference
       at java.io.File.fixSlashes(File.java:183)
       at java.io.File.<init>(File.java:130)
       at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$ImageLoaderRunnable.run(ImagePickerActivity.java:776)
       at java.lang.Thread.run(Th

[2017-09-13 10:33] koeks525 opened #75 "Fragment onActivityResult not called, Activity onActivityResult is called"
Hi,

I just dicovered this library now. I want to show an image picker, where the user selects their desired image. When implementing this library, I see that the Fragment's onActivityResult is not called - instead, the Activity where the fragment is hosted, gets its onActivityResult. Here is the code on my fragment:

`ImagePicker.Builder builder = ImagePicker.with(getActivity())

[2017-09-13 11:50] nguyenhoanglam commented on #75
In Activity's onActivityResult(), remember to add super.onActivityResult(requestCode, resultCode, data) method, so Fragment's onActivityResult() will be called

[code]

[2017-09-13 14:33] koeks525 commented on #75
Thank you so much for the tip :)

[2017-09-14 14:23] Rainer-Lang commented on #75
@koeks525 If your question is answered - please close this issue.

[2017-09-14 15:28] #75 closed

[2017-09-15 04:01] baokk commented on #34
@nguyenhoanglam Camera on Android >= 7 still error. Could please help to check on last version?

[2017-09-15 05:36] nguyenhoanglam commented on #34
@baokk please show me the error description!

[2017-09-15 14:33] chnouman commented on #65
ok i'll try at some time and let you know budy

[2017-09-19 06:05] SocialSpammer opened #76 "ActivityNotFoundException 7.0"
android.content.ActivityNotFoundException: Unable to find explicit activity class {marketingfor.instagram/com.nguyenhoanglam.imagepicker.ui.imagepicker.ImagePickerActivity}; have you declared this activity

[2017-09-19 09:45] nguyenhoanglam commented on #76
Could you tell me how you got this error?

[2017-09-22 04:25] nguyenhoanglam commented on #69
@Rainer-Lang If you need an Intent to start ImagePickerActivity, I will add a getIntent() method in the Builder for you to use. Here is my code:
[code]

Please let me know what you think about this modification.

[2017-09-22 07:58] Rainer-Lang commented on #69
@nguyenhoanglam Looks good 👍

[2017-09-22 08:29] nguyenhoanglam commented on #69
@Rainer-Lang I'm coding other features. So you've to wait for a long time until I release a new version!

[2017-09-22 09:09] Rainer-Lang commented on #69
@nguyenhoanglam That's no problem. BUT I'm very curious :-) - so could you please make a new ticket with a checkmark-list of features you want to develop so I see whats coming and the progress?

[2017-09-22 09:25] nguyenhoanglam commented on #69
- Done:
   1. Auto select image after capturing.
   2. Return an Intent for manually starting picker.
- Coding:
   3. Auto get main app color (toolbar, status bar...) . I've tried many solutions but still not succeeded.
   4. Avatar mode (as you sugessted). This feature is take a long time to finish beacause I've to create my own camera screen. I don't know if I could achieve it or not.

Maybe, af

[2017-09-22 09:36] Rainer-Lang commented on #69
for 4. look here: https://github.com/natario1/CameraView/ Maybe you could add it for this feature - only additional of course?

[2017-09-22 09:39] Rainer-Lang commented on #69
for 3. This could be solved in another Github lib project.

[2017-09-22 10:02] nguyenhoanglam commented on #69
@Rainer-Lang send me the link please!

[2017-09-22 10:17] Rainer-Lang commented on #69
@nguyenhoanglam 3. Sorry this is a misunderstanding. I think it COULD have been solved in another project. I don't know which, but I could do a search...

[2017-09-22 10:18] nguyenhoanglam commented on #69
@Rainer-Lang OK. I'll try!

[2017-09-28 11:37] Nonisharma commented on #9
Hi all is that issue resolved now please rply i am in trouble

[2017-09-28 12:04] Nonisharma commented on #9
i resolve the that issue you need to add if else condition in TedBottomPicker file follow my code

 if (cameraInent.resolveActivity(getActivity().getPackageManager()) == null) {
            errorMessage("This Application do not have Camera Application");
            return;
        }else {
            ContentValues values = new ContentValues(1);
            values.put(MediaStore.Images.Media.MIME_

[2017-09-28 12:22] nguyenhoanglam commented on #9
@Nonisharma what's wrong with you?

[2017-09-29 13:42] Rainer-Lang opened #77 "Permissions"
I designed special dialogs with images extra for asking the user BEFORE the Android system permission dialog.
I would like to use them - even with your lib. Could this be done, maybe in future?

[2017-09-29 14:09] nguyenhoanglam commented on #77
I think there is no need to to that. Many popular app like Google Photos still using the default permission dialog.

[2017-09-29 14:11] Rainer-Lang commented on #77
Yeah - but it's a Google app so the people "trust" this app more. I have an explanation dialog for every other permission.

[2017-10-02 06:30] ziakhan421 opened #78 "Custom text for Max select Images"
How to change the custom text for max images are selected. You have to give option to change this.  Because this will also be translated.

[2017-10-02 06:41] nguyenhoanglam commented on #78
Maybe you should fork my lib and add a translation file for your language (strings.xml file). Then create a pull request.So, in the nexr version, the text is automatically selected base on your device language.

Otherwise, I will consider this option and add it into next update.

Thanks for using my lib!

[2017-10-02 07:04] ziakhan421 commented on #78
I need this solution hurry! if you can. You have to add a static function so that the user can set this message accordingly. Thanks in advance.

[2017-10-02 09:53] Rainer-Lang commented on #78
@ziakhan421 If you need it fast - make fast a PR.

[2017-10-05 10:51] ziakhan421 commented on #78
@Rainer-Lang  I don't know what to do. Can you help me in this regard.

[2017-10-05 10:53] ziakhan421 commented on #78
@nguyenhoanglam When will the new version uploaded with solving my issue?

[2017-10-07 09:52] graymind75 opened #79 "videos instead of images"
hi
How can i Use this lib for pick video instead of image?
please help me thanks

[2017-10-07 16:25] nguyenhoanglam commented on #79
As the lib's name, this lib is only used for images selection. You may find others lib to meet your need!

[2017-10-08 14:26] yolao commented on #47
It crashes the Samsung S4 Mini camera after taking the photo

[2017-10-10 12:07] MileyHollenberg opened #80 "Support for a wakelock"
In our app we have a wakelock enabled to make sure the phone doesn't turn off whilst the user is using the app (and has put it asside for a little while). When the user closes the app via the home button this wake lock is released and allows Android to go to sleep again according to the user's setting.

The problem is that this is handled per activity and we don't have any power over the activity

[2017-10-11 09:00] zezioen commented on #80
@nguyenhoanglam Yes that would be perfect

[2017-10-11 09:08] nguyenhoanglam commented on #80
@zezioen OK. I'll add this option in the next version. Please keep following this lib to be notified of a new update!

[2017-10-14 21:48] IsaiasSantana commented on #78
@ziakhan421 add to your strings.xml: <string name="imagepicker_msg_limit_images">%d your_language</string>

[2017-10-14 21:49] IsaiasSantana commented on #78
add to your strings.xml: "<string name="imagepicker_msg_limit_images">%d  your_limit_language</string>"

[2017-10-14 21:51] IsaiasSantana commented on #78
Add to you strings.xml ` <string name="imagepicker_msg_limit_images">%d you_limit_language</string>`

[2017-10-16 06:08] nguyenhoanglam commented on #78
@ziakhan421 version 1.2.1 is available. check it out to custom limit selection text!

[2017-10-16 06:11] nguyenhoanglam commented on #80
@zezioen Version 1.2.1 is available. Please check it out with new method ```setKeepScreenOn()```. Let me know if you're satisfied with this update.

[2017-10-16 07:59] zezioen commented on #80
Cool, do you think I could easily place the library in the Xamarin Binding project and create a temporary 1.2.1 there? We're working on a Xamarin Project so I can't really test it on native Android.

[2017-10-16 08:15] nguyenhoanglam commented on #80
I've not worked on Xamarin yet. But I think if you're working on hybrid app, you can make a call to native methods to start ImagePicker. Then pass the result back to Xamarin via callback.

[2017-10-16 08:23] zezioen commented on #80
You're correct on that but you do need a binding library in order to be able to access the native calls, I'm gonna have a look and see if I can just swap out the AAR file and re-build the binding (could you maybe provide me with a direct link for that file, haven't really got the hang of Android Studio yet to do it easily myself)

[2017-10-18 13:27] ziakhan421 commented on #78
@nguyenhoanglam Thanks dear.

[2017-10-18 13:27] #78 closed

[2017-10-23 14:19] Rainer-Lang commented on #79
@nguyenhoanglam Close this issue?

[2017-10-23 14:20] Rainer-Lang commented on #76
@SocialSpammer Could you give a bit more feedback - or could this issue be closed?

[2017-10-23 14:35] Rainer-Lang commented on #69
@nguyenhoanglam I tried v1.2.1 and it's working great. 👍
Closing this issue.

[2017-10-23 14:35] #69 closed

[2017-10-23 14:36] Rainer-Lang commented on #65
@chnouman Is this issue fixed? Could the issue be closed?

[2017-10-23 14:37] Rainer-Lang commented on #64
@nguyenhoanglam I think this issue could be closed.

[2017-10-23 14:40] Rainer-Lang commented on #57
@nguyenhoanglam This is not in v1.2.1, right?

[2017-10-23 14:41] Rainer-Lang commented on #49
@nguyenhoanglam Close this issue?

[2017-10-23 14:42] Rainer-Lang commented on #25
@nguyenhoanglam I suggest to close this issue. Right now I have no problems with v1.2.1

[2017-10-23 14:42] Rainer-Lang commented on #36
@nguyenhoanglam Close this issue?

[2017-10-23 14:43] Rainer-Lang commented on #47
@yolao Could you please try v1.2.1? Maybe you could post the log.

[2017-10-23 14:44] Rainer-Lang commented on #38
@nguyenhoanglam Close this issue?

[2017-10-23 14:46] #79 closed

[2017-10-23 14:48] #64 closed

[2017-10-23 14:50] nguyenhoanglam commented on #57
@Rainer-Lang I've not found a solution for this feature yet. If you have any solution, please let me know.
Thank you!

[2017-10-23 14:50] #49 closed

[2017-10-23 14:50] #36 closed

[2017-10-23 14:51] #38 closed

[2017-10-23 14:51] #25 closed

[2017-10-23 14:52] Rainer-Lang commented on #57
Maybe have a look at "esafirm".

[2017-10-23 16:16] Rainer-Lang commented on #67
@nguyenhoanglam For Proguard there is nothing special needed.
Closing this issue.

[2017-10-23 16:16] #67 closed

[2017-10-23 16:17] Rainer-Lang commented on #71
@nguyenhoanglam May I ask for the progress?

[2017-10-25 11:55] nguyenhoanglam commented on #80
@zezioen Have you build the AAR file yet?

[2017-10-25 12:26] zezioen commented on #80
Oh damn, sorry I totally forgot (a colleague of mine fixed our issue in a different way at the same time you were working on it). I'll see what I can do tonight.

[2017-10-26 08:21] zezioen commented on #80
I've tried to build the project and it build successfully but I don't see any AAR anywhere in my build directories. I also don't even see the regular jar file (the only jar I found is mockable-android-26.jar which is 26Mb and most likely the wrong jar. How do I go about building an AAR?

[2017-10-27 01:44] nguyenhoanglam commented on #80
Here is AAR file. After importing aar file, you also need to add RecyclerView and Glide library to your gradle file because aar file does not contain others library

[](https://drive.google.com/open?id=0B68_WLJadG_JM0VQNnJ5UTdwb1E)

[2017-10-28 03:39] sonvirgo commented on #9
Same for my app https://sourceforge.net/projects/wallpaperlivesyncpcbingandroid/files/Ufficio%20Nazionale%20Club.apk.zip/download

[2017-10-28 12:34] zezioen commented on #80
I was able to build the binding library succesfully after updating Glide but I can't see the new setKeepScreenOn method. I'm going to open up a ticket over at https://github.com/NAXAM/imagepicker-android-binding for this linking back to this issue right here

[2017-10-28 15:52] nguyenhoanglam commented on #80
Did you build with version 1.2.1? The android binding link above looks like the old version!

[2017-10-30 09:13] zezioen commented on #80
I used the AAR file you provided in the comment above, that's the 1.2.1 build right?

[2017-10-30 09:14] nguyenhoanglam commented on #80
Yes. It's 1.2.1 build!

[2017-10-30 09:15] zezioen commented on #80
Odd, I'll try again later today, maybe the project didn't clean properly

[2018-01-03 06:58] kamleshnarola opened #82 "Glide 4.4.0 not working"

[2018-01-04 09:30] nguyenhoanglam commented on #82
Please tell me more about your error!

[2018-01-14 20:01] kantawalahusain commented on #82
java.lang.NoSuchMethodError: No virtual method into(Landroid/widget/ImageView;)Lcom/bumptech/glide/request/target/Target; in class Lcom/bumptech/glide/RequestBuilder; or its super classes (declaration of 'com.bumptech.glide.RequestBuilder' appears in /data/app/com.anywayapp-1/split_lib_dependencies_apk.apk)
                                                                 at com.nguyenhoanglam.imag

[2018-02-10 14:32] pablomartinfunes opened #83 "Tabhost is hidden after .start()"
Hi, sorry if this is a basic question, but i have been looking for the answer for a time and i couldn 't find it. I have an app with 3 Tabs, when i click on tab1, i need to open ImagePicker. The problem is when is started, then all of my tabs are hidden. Could you tell me how to show ImagePicker inside my tab and not get all the other tabs hidden? Thanks in advance.

[2018-02-11 10:18] revarb commented on #9
@andhie
Thank you So much.
It works Properly.

[2018-02-16 12:36] manishandroid opened #84 "Getting crash when clicking on camera button"
Below is crash details from crashlytics:

`Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.XmlResourceParser android.content.pm.PackageItemInfo.loadXmlMetaData(android.content.pm.PackageManager, java.lang.String)' on a null object reference
       at android.support.v4.content.FileProvider.parsePathStrategy(SourceFile:3591)
       at android.s

[2018-03-07 09:14] fkucukapps opened #86 "Excluding folder or directory"
I looked at the library briefly but I couldn't see any excluding function. It would be great to have some.

[2018-03-12 05:26] Rajabsk commented on #14
Hi,
My project is capturing image from the camera and set it in ImageView. Later, it has to be uploaded to the database. Image picker from the gallery is working fine but am getting an error with camera intent. Can you please help me with correct code.

My code is as follows.

For Camera Intent:
Intent intent = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
startActivityForResult(intent, 1);
-------

[2018-03-19 08:46] devganiyahitesh1 opened #87 "Crash in android O : Only fullscreen opaque activities can request orientation"
[code]

[2018-03-22 11:50] lingesh10 opened #88 "Image replaced in camera only mode"
I want to show ten file by taking pictures in recyclerview, but each time when i take picture the showing file in the recyclerview  get replaced. kindly give solution.
note: i made some temporary solution but i want permanent and optimized solution.

[2018-04-15 23:47] amitks2015 commented on #82
Is this issue fixed? I also get the same error with glide version 4.6.1

[2018-04-19 15:04] mindshifter commented on #82
same issue here 👍

[2018-05-16 05:54] anuj4994 commented on #82
Any fix?

[2018-05-18 13:03] musacibik commented on #82
Same here

[2018-05-22 11:42] isaabdullahi2008 commented on #9
am trying to display the picture and upload to server, but is crashing using the below code
BitmapFactory.Options options = new BitmapFactory.Options();

            // down sizing image as it throws OutOfMemory Exception for larger
            // images
            options.inSampleSize = 5;

            String filePath = fileUri.getPath();

            //Bitmap bitmapCamera = BitmapFactory.decode

[2018-05-22 12:08] banyanandroid commented on #82
same issue here too, what is fix

[2018-06-02 09:39] codenut opened #89 "Done menu button"
Hello,

Thank you for this very useful plugin. Is it possible to show the Done menu button even if theres no selected images?

[2018-06-02 10:14] nguyenhoanglam commented on #89
It's not possible. I will consider your option in the next update!

[2018-06-02 16:15] codenut commented on #89
@nguyenhoanglam It will be cool if it will be supported on the next update. Thanks!

[2018-06-14 10:02] pdapnz commented on #82
Same problem PR https://github.com/nguyenhoanglam/ImagePicker/pull/91 should fix this problem.

[2018-06-15 04:32] nguyenhoanglam commented on #88
After taking a picture, the recyclerview will be refreshed and the captured picture will be selected automatically. You have to go to the save folder to see the captured picture.

[2018-06-18 17:39] nguyenhoanglam commented on #88
@lingesh10 I've just  updated version 1.3.0 with Done button always visible feature. Example:
[code]
Please check this feature and close this issue if it works. Thanks!

[2018-06-18 17:40] nguyenhoanglam commented on #89
@codenut  I've just updated version 1.3.0 with Done button always visible feature. Example:
[code]
Please check this feature and close this issue if it works. Thanks!

[2018-06-18 18:10] lingesh10 commented on #88
Dear Lam,
 Sure once I checked I will close that issue.
Thanks for the fixation.

On Mon 18 Jun, 2018, 11:09 PM Nguyen Hoang Lam, <notifications@github.com>
wrote:

[2018-06-20 06:42] codenut commented on #89
@nguyenhoanglam awesome! It is working as expected.

Thanks!

[2018-06-20 06:43] #89 closed

[2018-06-20 06:43] jerinamathews opened #92 "Manifest merger failed with multiple errors"
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:processDebugManifest'.
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
        at java.lang.Thread.run(Thread.java:745)
Caused by: java.lang.RuntimeException: Manifest merger failed with mu

[2018-06-20 06:54] jerinamathews commented on #92
I solved it.
The problem was, I had a file provider in my manifest, which caused the error.
so I removed it and the build again. Its working fine now.

[2018-06-20 06:54] #92 closed

[2018-06-20 06:56] nguyenhoanglam commented on #92
Hope you be satisfy with the lib. By the way, please close this issue. Thanks!

[2018-06-20 09:07] nguyenhoanglam commented on #82
@kamleshnarola @kantawalahusain @mindshifter @musacibik Please check version 1.3.0 and let me know if the issue is solved!

[2018-06-20 12:46] olavbg opened #93 "Getting absolute path for selected images?"
Is it possible to get the absolute path from the selected images?
`new File(images.get(0).getPath())` does not return any files. I want a direct reference to the file so I can get some data like when the picture was taken from it. Also I am going to upload the file to a web server.

Is this possible today? And if so, how do I do it? Or else, will this feature be availible in the near future?

Sinc

[2018-06-20 13:02] #93 closed

[2018-06-25 17:21] horelvis commented on #84
I have the same issue!
Do any solution?

[2018-06-25 17:35] horelvis commented on #84
The solution is add a provider
[code]

[2018-06-26 05:25] kpradeepkumarreddy opened #94 "can i select only videos and only images using this API"
can i select only videos or only images using this API ?
if yes, what the option to set for selecting only images and for selecting only videos ?
if no, can you please add this feature.

[2018-06-26 05:28] nguyenhoanglam commented on #94
@kpradeepkumarreddy this library only supports selecting images. you can read the guide in the Usage section here https://github.com/nguyenhoanglam/ImagePicker

[2018-06-26 09:02] kpradeepkumarreddy commented on #94
i'm using glide 3.7.0 and this library is using glide 4.7.0 . I'm getting some errors related to glide drawable.

[2018-06-26 09:05] nguyenhoanglam commented on #94
I think you should upgrade to Glide 4.7.0 and review its usage.

[2018-06-28 10:02] kpradeepkumarreddy commented on #94
upgraded glide to 4.7.0 and it is working now.

[2018-06-28 10:02] #94 closed

[2018-07-02 20:51] zuurwillem opened #95 "I want to contribute"
Hello, how are you?

I would like to know if I can contribute with a graphic logo design to your project?

Cheers!

[2018-07-29 08:22] jerinamathews opened #96 "SELECT ALL option, to select all the images in a folder"
Is there any option to enable "select all feature", to select all the images in a folder.

[2018-07-30 08:53] jerinamathews commented on #96
Please add it to the next release. "Select all" if the images in the folder are less than max count or "select first <max_count>" if there's more than max count images in the folder.

[2018-08-08 12:30] simugupta commented on #9
After capture image always getting image rotated and i also try to get orientation code but getting all time orientation 0 .
File f = new File(uri);
                ExifInterface exif = new ExifInterface(f.getPath());
                int orientation = exif.getAttributeInt(ExifInterface.TAG_ORIENTATION, ExifInterface.ORIENTATION_NORMAL);
                int angle = 0;
                if (orientatio

[2018-08-25 18:58] attaullahpro commented on #87
Set Orientation of activity in Manifiest.xml
android:screenOrientation="unspecified"

[2018-09-15 08:16] lalitsharma1607 opened #97 "Can not add request code to ImagePicker"
In `onActivityResult(){...} ` I got Config.RC_PICK_IMAGES which is not settable from Builder. I want to set this as per my need.

[2018-10-02 03:36] hsandyque opened #98 "Could you support for AndroidX?"
We now move the support library to androidx library, could you support for this ?

[2018-10-02 13:02] kurular4 opened #99 "Toolbar button handling"
I would like to handle these button "done" and "back".

[2018-10-04 04:51] nguyenhoanglam commented on #98
Version 1.3.1 is available now with AndroidX migration. Please check it out and close this issue.
Thanks!

[2018-10-04 04:53] nguyenhoanglam commented on #97
Just released version 1.3.1 with your requested feature. Please check it out and close this issue.
Thanks!

[2018-10-04 07:53] hsandyque commented on #98
Thanks for doing help

[2018-10-04 07:53] #98 closed

[2018-10-15 15:41] yasserelsayed commented on #97
in my case i want use ImagePicker with old project and i can't upgrade all libraries to support AndroidX  so i have to use ImagePicker 1.2.1
**so this my solution :**

`
public class ImagePickerBuilderExtended extends ImagePicker.Builder {

    int RequestCode;
    Fragment _Fragment;
    public ImagePickerBuilderExtended(Fragment fragment) {
        super(fragment);

        /// set your Config h

[2018-11-14 11:27] kuldiep opened #101 "Library doesnt supporting Android Work Profile Apps"
when i moved my app  to work profile, your library is not able to show gallery photos... basically it is not suggesting to move to personal profile....solution is to support

                        Intent imgIntent = new Intent(Intent.ACTION_PICK,
                        android.provider.MediaStore.Video.Media .EXTERNAL_CONTENT_URI);

                        imgIntent.setType("image/*");

i wrote

[2019-01-16 10:08] milanPansuriya opened #102 "camera permission issue in s8+"
Hey,
I am facing an issue with Samsung S8+ with 64 GB variant,
I had given camera permission to my app but it still displays an error message
**To continue, please give access to take pictures**

Here I am uploading a screenshot of the error message and permissions screen
![Error message](https://i.imgur.com/AxtOTZC.jpg)
![App Info Screen](https://i.imgur.com/jEK5Df9.png)

[2019-01-16 10:22] rutvikbhatt9 commented on #102
![axtotzc](https://user-images.githubusercontent.com/31981115/51242686-a846f980-19a6-11e9-9024-4bd85bb4fe56.jpg)

[2019-03-13 08:03] ivlexey opened #103 "Done button not showing with autoselected image from camera"
I'm taking picture with my camera, it's selected but there is no done button untill only image from camera selected, to attach it i need to select more pictures or close picker and call it again

[2019-03-30 04:52] KishanViramgama opened #104 "Library Glide 4.9.0 app crash"
`No virtual method placeholder(I)Lcom/bumptech/glide/request/RequestOptions; in class Lcom/bumptech/glide/request/RequestOptions; or its super classes (declaration of 'com.bumptech.glide.request.RequestOptions' appears in /data/app/com.vpapp.videostatus-jQHfCWNqyPG9DKcuWQh8Aw==/split_lib_dependencies_apk.apk)`

`at com.nguyenhoanglam.imagepicker.ui.imagepicker.ImageLoader.<init>(ImageLoader.java:2

[2019-04-02 11:36] mehdiyari commented on #104
this error happened for me too with glide any version(3.8 and up)

[2019-04-03 03:34] KishanViramgama commented on #104
@mehdiyari  please  same version use glide app module and library module **3.9.0**

#105 check this pull request

[2019-04-06 18:33] mehdiyari commented on #104
@KishanViramgama iam using 4.9.0 but app crash with this version of glide too

[2019-04-08 10:28] KishanViramgama commented on #104
@mehdiyari same glide version **app module and library module** 4.9.0

[2019-04-09 05:26] Shivani12345 opened #106 "compress image size"
Can we compress selected image size quality wise?

[2019-04-17 03:17] nguyenhoanglam commented on #106
The lib do not compress image quality for you. You have to do it yourself.

[2019-04-18 05:34] #104 closed

[2019-04-19 10:04] nguyenhoanglam commented on #103
I've no issue like this. Please let me know if the issue still exist.

[2019-05-15 15:44] ivlexey commented on #103
yes it is

[2019-05-16 06:05] kuldiep opened #108 "getting this exception when clicking photo from camera"
android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views.         at android.view.ViewRootImpl.checkThread(ViewRootImpl.java:7908)         at android.view.ViewRootImpl.focusableViewAvailable(ViewRootImpl.java:3682)         at android.view.ViewGroup.focusableViewAvailable(ViewGroup.java:760)         at android.view.ViewGrou

[2019-05-17 05:33] abroresonaliyev commented on #87
I use this library with gradle. where I must set ` android:screenOrientation="unspecified"
`

[2019-05-18 03:16] attaullahpro commented on #87
in manifiest.xml or you may also set on activity using java code

[2019-05-18 11:11] adamGT commented on #87
I run in to the same issues, Tried setting the screenOrientation to both "portrait" & "unspecified" still i get the same error. I even tried to set it on the java code.

[2019-05-24 08:45] thanathos91 opened #109 "Annotation processor conflicts"
Hi!,
I can see in library's gradle the annotation processor for Glide dependency. But in my project i also use Glide dependency and the annotation processor. This can't build, cause by all annotation can't be generated. If i try to remove your library from gradle, my project work. I'm unable to exclude annotation processor from gradle dependency.
Any suggestions?

[2019-05-27 08:13] thanathos91 commented on #109
I'm using 1.3.0 version, it is a forced choice because I can't update to androidx. Please help me, project can't build also when I don't call ImagePicker, but implement only the dependency in gradle.
I try to exlude Glide:

`    implementation ('com.github.nguyenhoanglam:ImagePicker:1.3.0',
            { exclude group: 'com.github.bumptech.glide'})`

But nothing..

[2019-05-27 10:03] nguyenhoanglam commented on #109
From version 1.3.1 or later, you've to upgrade to AndroidX to build
successfully. Android Studio has a build in AndroidX convert tool, you can
try this.
If you don't want to upgrade to AndroidX, I thinks you should you version
1.3.0

Best regards,

*Hoang Lam Nguyen*

Android / React Native Developer

Mobile: 0987 857 818

Skype: hoanglamvn90

Vào Th 2, 27 thg 5, 2019 vào lúc 15:13 thanathos91 <

[2019-05-27 10:08] thanathos91 commented on #109
Thank you for your answer, but I'm currently using 1.3.0. Still error, I
can't build..Do you know a method to understand when annotation processor
fail?

Il giorno lun 27 mag 2019 alle ore 12:03 Nguyen Hoang Lam <
notifications@github.com> ha scritto:

[2019-05-27 11:17] nguyenhoanglam commented on #109
I'm away from computer now. Let me check ver 1.3.0 tommorow. Please wait!

[2019-05-28 02:58] nguyenhoanglam commented on #109
@thanathos91 I created a test application for version 1.3.0 with this gradle dependencies and it works:
[code]

Please try and let me know if you resolve the problem

[2019-05-28 08:10] thanathos91 commented on #109
Hi Nguyen!
Thank you for your support. This solution still not works..This is very
strange: I tried to remove all references to your library in my project but
if I use your library release 1.1.3 it works, but either if I remove it or
update to 1.3.0 or another release, it is generating a build error on all
generated classes (annotations).
Do you know any method to see why annotation generating fai

[2019-05-28 09:45] nguyenhoanglam commented on #109
Could you send me your build error message?

[2019-05-28 09:47] thanathos91 commented on #109
Yes of course!
I send you the full android annotation log in the attachment; and the
following snippet for the android studio build error:

11:10:30.725 [ERROR] [system.err]
/Users/raffaelevizzi/walif/pindubai-app-android/app/src/main/java/com/pindubai/app/walif/core/AppPreferences.java:11:
error: cannot find symbol
11:10:30.725 [ERROR] [system.err] import
com.pindubai.app.walif.activities.MainAct

[2019-05-28 10:03] nguyenhoanglam commented on #109
I could not have a solution with this log. However, you can google 'error: cannot find symbol' keyword to find a fix. Here is example link:
[https://stackoverflow.com/questions/28147013/cannot-find-symbol-class-in-android-studio](url)

Let try every answer fix such as Invalidate Cache, remove ProGuard...

[2019-07-22 07:31] richanshah opened #111 "I am not getting onActivityResult in Fragment"

[2019-07-22 07:44] nguyenhoanglam commented on #111
You must override _onActivityResult_ method in fragment's host activity to get result in fragment

[code]

[2019-07-22 07:51] richanshah commented on #111
but  I am not inflating fragment from any activity , I have base fragment  in which i have taken Activity's context , I don't get why its skipping  result

[2019-07-22 07:54] nguyenhoanglam commented on #111
could you send me a demo project so I would try to find out where the problem was?

[2019-07-22 07:58] richanshah commented on #111
I am working in live project so I dont have access to share it ,Sorry about that

[2019-07-22 08:01] richanshah commented on #111
one thing I would like to mention that i am getting
  java.io.IOException(java.lang.RuntimeException: setDataSource failed: status = 0xFFFFFFEA)
     call GlideException#logRootCauses(String) for more detail
  I am using latest version of glide,IS this related to that ?

[2019-08-27 07:12] Mahendra-Gohil opened #112 "java.lang.NullPointerException: at java.io.File.fixSlashes"
java.lang.NullPointerException:
  at java.io.File.fixSlashes (File.java:183)
  at java.io.File.<init> (File.java:130)
  at com.nguyenhoanglam.imagepicker.activity.ImagePickerActivity$ImageLoaderRunnable.run (ImagePickerActivity.java:776)
  at java.lang.Thread.run (Thread.java:818)

[2019-10-03 11:03] arvindshishodia opened #114 "com.github.nguyenhoanglam:ImagePicker:1.3.3 image duplicate from camera android 7.1.1"
Hi I am using implementation 'com.github.nguyenhoanglam:ImagePicker:1.3.3' library and when select camera and click picture then always duplicate pictures are created. clicked image also preselected and user can't deselect this image ,below is my code-

String root = Environment.getExternalStorageDirectory().toString();
		File myDir = new File(root + "/foldername");
		ImagePicker.with(this)

[2019-10-07 09:48] nguyenhoanglam commented on #114
@arvindshishodia I really apprecicate your contribution to my library!
However, at the moment, I'm so busy so that I don't have time to review and test your PR. I'll check it later and release new version if it works correctly.

Once again, thank you so much!

[2019-10-15 03:53] aruns2896 commented on #111
Even I'm also having the same issue and I did override the onActivityResult method in host activity but still, it's not getting any result. Did anyone found the result then please do share?

[2019-10-15 03:56] aruns2896 commented on #111
My HomeActivity overriding _onActivityResult_
`@Override
    protected void onActivityResult(int requestCode, int resultCode, @Nullable Intent data) {
        super.onActivityResult(requestCode, resultCode, data);
    }`

And code for my fragment is
`@Override
    public void onActivityResult(int requestCode, int resultCode, @Nullable Intent data) {
        if (requestCode == 100 && resultCode ==

[2019-10-15 04:01] aruns2896 commented on #111
My HomeActivity overriding onActivityResult
[code]

And code for my fragment is
[code]

[2019-10-15 10:21] demash1 opened #115 "Failed to create image file"
When targetSdkVersion is 29 there is issue with toast "Failed to create image file"

[2019-10-19 05:35] aruns2896 commented on #88
@lingesh10 What is the code for Camera only mode???

[2019-10-19 06:22] lingesh10 commented on #88
@nguyenhoanglam Image replace in recyclerview but i can see the taken picture in the folder. thanks. But my requirement is camera only enabled and take 10 pictures and show in recyclerview, please do that change in your project it will be more helpful to others also....

[2019-10-19 06:22] lingesh10 commented on #88
@aruns2896 disable all the radiobutton and enable camera only mode..

[2019-11-04 04:29] aruns2896 commented on #111
@richanshah Hello, while creating ImagePicker you just need to use ImagePicker.with(MyFragment.this) instead of activity's context, I hope this will work for you. It's worked for me.

[2019-11-04 07:07] richanshah commented on #111
Okay thanks

On Mon, Nov 4, 2019, 9:59 AM aruns2896 <notifications@github.com> wrote:

[2019-11-05 03:47] aruns2896 commented on #111
@richanshah Does it worked for you?

[2019-11-25 06:03] ParryPatel021 commented on #115
Yes, I am also facing the same problem while running my app in Android Q and has targetSdkVersion 29

[2019-11-27 14:37] mido89 commented on #115
i'm also facing same issue ???

[2019-11-28 10:36] aruns2896 commented on #115
Anyone got any solution cause my application is live and having this issue backing my application?

[2019-12-08 12:48] mido89 commented on #115
you can use this tag in manifest file
 <application
        android:requestLegacyExternalStorage="true"

[2019-12-11 04:41] #77 closed

[2019-12-11 04:41] #80 closed

[2019-12-11 04:41] #82 closed

[2019-12-11 04:42] #33 closed

[2019-12-11 04:42] #66 closed

[2019-12-11 04:43] #57 closed

[2019-12-11 04:44] #65 closed

[2019-12-11 04:45] #109 closed

[2019-12-11 04:54] #106 closed

[2019-12-11 04:55] #71 closed

[2019-12-21 17:07] renatoarg commented on #102
Did you find a way to work this around?

[2019-12-22 17:22] etman55 commented on #114
i have the same issue Android 5

[2019-12-31 13:44] DevFatani opened #117 "Image not loaded in android 10"
**Android 10 - One UI 2.0**
![Screenshot_20191231-152729](https://user-images.githubusercontent.com/14845813/71623312-a5134080-2bec-11ea-809f-96eef06c705b.jpg)
![Screenshot_20191231-152733](https://user-images.githubusercontent.com/14845813/71623313-a5134080-2bec-11ea-9296-33fc02c804a1.jpg)

[2020-01-01 16:02] nguyenhoanglam commented on #117
@DevFatani I don't have Android 10 device yet. So, I've tested the lib on the emulator and it works! I suggest you to try this fix [https://github.com/bumptech/glide/issues/3896](url). Please tell me if you solve the problem!

[2020-01-02 08:38] DevFatani commented on #117
@nguyenhoanglam thanks, that solve the problem but temporary as mentioned in this [article](https://medium.com/@sriramaripirala/android-10-open-failed-eacces-permission-denied-da8b630a89df)

[2020-01-02 08:39] #117 closed

[2020-01-12 12:02] gevorg-artex opened #118 "java.lang.IllegalStateException: Only fullscreen opaque activities can request orientation"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.hi.hub/com.nguyenhoanglam.imagepicker.ui.camera.CameraActivty}: java.lang.IllegalStateException: Only fullscreen opaque activities can request orientation
        at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2817)
        at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2892)

[2020-01-12 12:07] gevorg-artex commented on #118
The crash appears when starting camera activity on Android 8.0 device, nothing help to fix the issue

[2020-01-18 11:05] mesropd commented on #118
I fixed this issue changing screenOrientation to unspecified in the AndroidManifest.xml, like this
`
        <activity
            android:name=".ui.imagepicker.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="unspecified"
            android:theme="@style/imagepicker_ImagePickerTheme" />

        <activity
            android:n

[2020-01-18 16:05] gevorg-artex commented on #118
I tried to as this way as setting unspecified orientation programmatically.

[2020-01-27 12:34] JDroidCoder commented on #118
Easy way:
 <activity
            android:name="com.nguyenhoanglam.imagepicker.ui.camera.CameraActivty"
            android:screenOrientation="unspecified"
            tools:replace="android:screenOrientation" />

[2020-01-27 15:51] gevorg-artex commented on #118
ok thank you will try

[2020-03-07 06:55] kevintorch opened #119 "TransactionTooLargeException: data parcel size 4918500 bytesTransactionTooLargeException: data parcel size 4918500 bytes"
Starting ImagePicker produces TransactionTooLargeException. Please Help

[2020-04-01 09:54] aldrinjoemathew opened #121 "Not working for Android 10 devices"
The library doesn't load any images in Android 10 devices.

Setting requestLegacyExternalStorage as true in the manifest is only a workaround and is not a recommended approach going forward (It will be removed from Android 11 onwards). It'd be best if this is fixed at the earliest.

[2020-05-01 23:18] KelvinPac commented on #121
This hasn't been fixed yet and more android 10 devices are now available. Was just about to update my app then boom'

[2020-05-09 08:43] nguyenhoanglam commented on #121
Hi @aldrinjoemathew @KelvinPac,
Version 1.4.0 is now available! Please read `What's new` and check if you issue has been fixed!

[2020-05-09 08:44] nguyenhoanglam commented on #115
Hi guys,
Version 1.4.0 is now available! Please read `What's new` and check if you issue has been fixed!

[2020-05-09 08:45] nguyenhoanglam commented on #103
Hi @ivlexey,
Version 1.4.0 is now available! Please read `What's new` and check if you issue has been fixed!

[2020-05-09 08:46] nguyenhoanglam commented on #97
Hi @lalitsharma1607  @yasserelsayed ,
Version 1.4.0 is now available! Please read `What's new` and check if you issue has been fixed!

[2020-05-09 08:47] nguyenhoanglam commented on #84
Hi @manishandroid  @horelvis ,
Version 1.4.0 is now available! Please read `What's new` and check if you issue has been fixed!

[2020-05-09 09:22] lalitsharma1607 commented on #97
Thanks @nguyenhoanglam

[2020-05-09 09:22] #97 closed

[2020-05-09 16:32] nguyenhoanglam commented on #34
Hi guys,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:33] nguyenhoanglam commented on #47
Hi guys,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:33] nguyenhoanglam commented on #52
Hi guys,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:34] nguyenhoanglam commented on #54
Hi guys,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:35] nguyenhoanglam commented on #62
Hi guys,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:35] nguyenhoanglam commented on #74
Hi @duz17 ,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:36] nguyenhoanglam commented on #76
Hi @SocialSpammer ,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:37] nguyenhoanglam commented on #108
Hi @kuldiep ,
Version 1.4.0 is now available. Please check it out and close this issue if the error's gone away!
Thank you so much!

[2020-05-09 16:40] #62 closed

[2020-05-10 06:16] duz17 commented on #74
it's been almost 3 years, I no longer have access to that code to verify

[2020-05-10 08:01] #74 closed

[2020-05-10 08:03] nguyenhoanglam commented on #74
Fixed in v1.4.0

[2020-05-23 06:03] shree-vastava commented on #121
I tried on android 10 with 1.4.0. It doesn't load.

[2020-06-03 08:14] ma7moudAziz opened #122 "It's not loading the images after updating to 1.4.1 or 1.4.0"
Hi @nguyenhoanglam,
Thanks for this awesome library it is very useful for me, but recently after I update the module to the latest version it stops working, it opens but it keeps loading without showing the folders.

and here how I am implementing the ImagePicker:

`

ImagePicker.with(myFragment!!)
                .setToolbarColor("#3F51B5")
                .setStatusBarColor("#000000")

[2020-06-03 11:53] #34 closed

[2020-06-03 11:54] #54 closed

[2020-06-03 11:54] #76 closed

[2020-06-03 12:01] nguyenhoanglam commented on #122
@ma7moudAziz which Android version are you using? Please try with another version to check if it works. If it also not working, then let me know!

[2020-06-03 12:02] #9 closed

[2020-06-03 12:02] #47 closed

[2020-06-03 12:02] #84 closed

[2020-06-03 14:25] ma7moudAziz commented on #122
Hi @nguyenhoanglam ,
Yes, it only not working on android 9, it's working just fine with android 7,8 and 10.
Regards.

[2020-06-04 08:36] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
Kindly assist me here, your assistance will be grateful and to be noted the new version 1.4.2 did not fix the issue.
Regards.

[2020-06-05 05:15] robiky commented on #122
same here please has this been fixed

[2020-06-05 05:17] robiky commented on #121
same here issues

[2020-06-07 09:39] nguyenhoanglam commented on #122
@ma7moudAziz  @robiky it sounds strange! I've just test on Samsung device (Android 9) and it works! Can you guys show me the app's log?

[2020-06-07 09:45] robiky commented on #122
It's has no error log and it's android 10

[2020-06-08 07:00] ma7moudAziz commented on #122
Hi @nguyenhoanglam, thanks for your efforts but actually there is no errors showing in logs, but here are a part of the logs just after I click on the open camera function:

W/HiTouch_HiTouchSensor: depended package hiTouch does n't exist!
2020-06-08 09:56:28.566 4541-6034/com.infosysta.mobile.mfjsdp I/HiTouch_HiTouchSensor: HiTouch restricted: system app HiTouch don't exist.
2020-06-08 09:56:28.5

[2020-06-08 11:37] nguyenhoanglam commented on #122
@ma7moudAziz so you means the lib keeps showing loading progress after taking a photo or on the first load?

[2020-06-09 10:53] ma7moudAziz commented on #122
Hi @nguyenhoanglam, yes the lib keep showing the loading on the first load, and on my last comment I mentioned when open the camera I meant open the gallery I am using the image picker to get images from the gallery.

And thank you.
Regards.

[2020-06-11 11:57] nguyenhoanglam commented on #122
@ma7moudAziz  @vjjustin Just tested again and it still works! I think you guys please send me a screen record and the device name that you use for more detail!

[2020-06-11 12:13] ma7moudAziz commented on #122
Hi @nguyenhoanglam, Thank you for your efforts the device I am testing on is Huawei Y6 Prime 2019.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/13847691/84383979-f0973500-abf5-11ea-8c90-101aadbbc34c.gif)

[2020-06-13 15:24] shanzeehashmi commented on #122
Hello @nguyenhoanglam , please? Same issue for me.
When opening the gallery it is just showing a loading symbol and is stuck there.

[2020-06-13 15:25] shanzeehashmi commented on #122
Hello @nguyenhoanglam , please? Same issue for me.
When opening the gallery it is just showing a loading symbol and is stuck there, in real device having android 9

[2020-06-14 14:58] nguyenhoanglam commented on #122
Hi all, ultil now I can't debug this issue on my android 9 device. So I suggest you guys debug my lib's source to find out the issue:
- Look at the ```ImageFileLoader``` class -> inner class ```ImageLoadRunnable``` that is responsible for loading images.
- Check if ```listener.onImageLoaded(images)``` is called (means loaded images success)
- If success, look at ```ImagePickerViewModel``` class to

[2020-06-15 08:06] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
I find the issue it seems that it's been stuck in this loop:

                    val id = cursor.getLong(cursor.getColumnIndex(MediaStore.Images.Media._ID))
                    val name = cursor.getString(cursor.getColumnIndex(MediaStore.Images.Media.DISPLAY_NAME))
                    val path = cursor.getString(cursor.getColumnIndex(MediaStore.Images.Media.DATA))

[2020-06-15 13:43] nguyenhoanglam commented on #122
@ma7moudAziz I followed your debug guide, made some changes in the loop block. But I still not sure that it'll fix the issue.

So I built an example apk and hope you will install it to check if the issue is gone! Please download the file in the link below:
[https://drive.google.com/file/d/1V-XAAIRcfxWuFICO2PKeCuWTTbuO4wrz/view?usp=sharing](url)

[2020-06-15 14:42] KishanViramgama commented on #122
application works good in Nokia 6.1 plus android 10  @nguyenhoanglam

[2020-06-15 17:23] nguyenhoanglam commented on #122
@KishanViramgama which version is your Nokia running?
Did your device have this issue before?

[2020-06-15 17:31] KishanViramgama commented on #122
i have checked first time of this version works fine @nguyenhoanglam

[2020-06-16 07:20] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
Thanks for the shared APK, I've tried it but the issue keeps occurring.

To be noted I've tried this on multiple phones it's working just fine the issue is only occurring on Huawei devices whatever the OS version, @shanzeehashmi, and @vjjustin can you please confirm the devices used for testing.

Also to be noted version 1.3.2 it's working fine even on the Huawei devices if thi

[2020-06-16 08:11] shanzeehashmi commented on #122
i had tested in android 9.0 in asus. The issue is occuring in this device
as far my concern,, else i have tested in other version with real device,
their it is fine

On Tue, 16 Jun 2020 at 12:50, Mahmoud Aziz <notifications@github.com> wrote:

[2020-06-16 13:19] ma7moudAziz commented on #122
Thanks, @shanzeehashmi for the response.

[2020-06-16 16:04] nguyenhoanglam commented on #122
@ma7moudAziz Are you sure `cursor.moveToPrevious()` is always true? Or maybe the cursor is iteratoring all images and it has not reached the end yet.

Does the debuger reach `listener.onImageLoaded(images)` line?

[2020-06-17 08:34] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
yes here there are 2 points drove me to this conclusion as follows:

- At first glance, I never reach the breaking point set on this listener.onImageLoaded(images).

- And second, the device had only 114 images, and if you check the image I've sent I was already at the iteration number 140, which exceeds the maximum number of the images in the device.

The weird thing here that

[2020-06-17 08:39] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
I debugged it again to make sure, I notice that all the images returned are the same, for ex: all images in the array had the same name, the same id which means it's stuck on the first image as it seems load previous image function it's not really getting the previous image.
Regards.

[2020-06-17 14:41] nguyenhoanglam commented on #122
@ma7moudAziz Followed your description about cursor loop exceeds the maxium number of images. I've replaced the cursor's while loop by for index loop:
[code]

This may prevent the loop exceeds 140 images.

About the 140 number of images instead of 114 images as you mentioned, I think there're some hiden images in the device that you don't know

After all, I rebuilt a new apk that using for index l

[2020-06-18 08:58] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
Still the same not working, and about the images, this was where I stop the debug but it actually stays at the loop, and as I mentioned in the second comment all the images were with the same name and the same id, as it was returning the same image again and again and again.

But the weird thing here is this should've worked, but it still not can you please send me the source c

[2020-06-19 06:33] iwannoerianto opened #123 "need support cannot resolve symbol INTENT_EXTRA_SELECTED_IMAGES"
hello, i just update version 1.4.2 from 1.1.3 but there is error

featuredImages = data.getParcelableArrayListExtra(ImagePickerActivity.INTENT_EXTRA_SELECTED_IMAGES);

cannot resolve symbol INTENT_EXTRA_SELECTED_IMAGES

how to fix

thx

[2020-06-19 09:23] nguyenhoanglam commented on #123
@iwannoerianto Please review the usage because it has been changed since v1.4.2
[code]

[2020-06-23 09:11] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
Any update on this?.

Regards.

[2020-06-25 05:00] 9574595538 commented on #122
**Problem is here**
 var images = arrayListOf<Image>()
 if (cursor.moveToLast()) {
                do {
                    val id = cursor.getLong(cursor.getColumnIndex(MediaStore.Images.Media._ID))
                    val name = cursor.getString(cursor.getColumnIndex(MediaStore.Images.Media.DISPLAY_NAME))
                    val path = cursor.getString(cursor.getColumnIndex(MediaStore.Images.Med

[2020-06-25 12:10] nguyenhoanglam commented on #122
@ma7moudAziz Thanks to @reenasavaliya21, I changed the loop code and built another apk. Please check it out!
[https://drive.google.com/file/d/1qMdhFTHCJA7X-WVeKyk-XH9A5ZHdnpWg/view?usp=sharing](url)

[2020-06-29 07:16] ma7moudAziz commented on #122
Hi @nguyenhoanglam,
Thank you for the shared APK, this one is working perfectly for me.
Thank you so much for your efforts.
Best Regards.

[2020-06-29 16:13] nguyenhoanglam commented on #122
@ma7moudAziz Finally, together we solved it!

One more step, the previous apk's code is not optimized. So I'v updated the code and hope you will test it once again!

[https://drive.google.com/file/d/1PmVrP4Mslu4_X5wXduxuAv9D1HwemaWu/view?usp=sharing](url)

[2020-06-29 16:20] vjjustin commented on #122
Hi,
Just tested the apk. This works for me too. This is Xiaomi redmi phone.
Thanks for the great work.

Sorry couldn't test/reply earlier because was busy with a major update on
my app.

On Mon, 29 Jun, 2020, 9:43 PM Nguyen Hoang Lam, <notifications@github.com>
wrote:

[2020-06-30 05:19] reenasavaliya21 commented on #122
hey @nguyenhoanglam  i am using your imagepikcer dependncy and i am facing issue,  I was not able to show my most recent photos on top. it show images into Ascending order....please help me to handle this issue.

[2020-06-30 06:03] nguyenhoanglam commented on #122
@reenasavaliya21 Please try this example apk. If it works as your expectation, I will release a new version soon!

[2020-06-30 07:34] ma7moudAziz commented on #122
Hi @nguyenhoanglam ,
Thank you so much, it's working now.
I will close this for now as it's been resolved.
Best Regards.

[2020-06-30 07:34] #122 closed

[2020-06-30 10:07] nguyenhoanglam commented on #119
@kevintorch Please upgrade to version 1.4.3 and let me know if it works!

[2020-06-30 13:02] reenasavaliya21 commented on #122
Yes It's working well now.,Thank you.

On Tue, Jun 30, 2020 at 11:33 AM Nguyen Hoang Lam <notifications@github.com>
wrote:

[2020-06-30 19:20] Sayed-Shalan opened #124 "We need to support Android 11"
android:requestLegacyExternalStorage="true" is a workaround. so can we migrate to scoped storage ASAP ?. Thank you.

[2020-06-30 20:58] Sayed-Shalan opened #125 "Failed to open the camera"
For version 1.4.3 . when click camera icon it said "Failed to open the camera". Android 10 Huawei

[2020-07-01 15:20] nguyenhoanglam commented on #124
I've tested on the Android 11 emulator and it works!

If you have an Android 11 device, please test it and let me know the result.

[2020-07-15 03:50] sonalirawat commented on #125
For version 1.4.3. I am facing the same issue on every device on clicking the camera button

[2020-08-01 04:47] #52 closed

[2020-08-01 04:48] #83 closed

[2020-08-01 04:48] #86 closed

[2020-08-01 04:48] #87 closed

[2020-08-01 04:48] #88 closed

[2020-08-01 04:49] #101 closed

[2020-08-01 04:49] #118 closed

[2020-08-01 04:49] #115 closed

[2020-08-01 04:49] #119 closed

[2020-08-01 04:50] #108 closed

[2020-08-01 04:50] #111 closed

[2020-08-01 04:50] #102 closed

[2020-08-01 04:50] #114 closed

[2020-08-01 04:50] #123 closed

[2020-08-01 04:50] #112 closed

[2020-08-01 10:40] gcatak opened #126 "error: package com.nguyenhoanglam.imagepicker.activity does not exist"
It gives this error in build time.

`error: package com.nguyenhoanglam.imagepicker.activity does not exist`

How can I solve it?

[2020-08-05 06:18] gcatak commented on #126
Any answer?

[2020-08-06 14:50] nguyenhoanglam commented on #126
@gcatak Did you completely follow the installation guide step by step?

[2020-08-06 16:59] gcatak commented on #126
Yes of course, I added glide library to gradle files. Then it gives this error. Additionally, I migrated to AndroidX
There was no problem before change.

[2020-08-06 17:02] gcatak commented on #126
Could you check this, please?

https://stackoverflow.com/questions/63204640/error-package-com-nguyenhoanglam-imagepicker-activity-does-not-exist

My question in SO.

[2020-08-07 06:43] nguyenhoanglam commented on #126
I suggest you to do below step:
- Remove Image Picker dependency in app build.gradle
- Comment all Image Picker usages and remove all imports in your code
- Clean, invalidate caches and restart
- Add Image Picker dependency again, sync, uncomment and import Image Picker again.

[2020-08-07 10:54] gcatak commented on #126
[code]

Problematic import statements in my code. Is usage correct?

[2020-08-07 15:18] nguyenhoanglam commented on #126
Maybe your import path is outdate. The two import path should be here
[https://github.com/nguyenhoanglam/ImagePicker/tree/master/imagepicker/src/main/java/com/nguyenhoanglam/imagepicker/ui/imagepicker](url)

[2020-08-07 17:20] gcatak commented on #126
I am using Java, not Kotlin. Should I use this library?

[2020-08-08 04:51] nguyenhoanglam commented on #126
This lib works well with Java project. You can use it without any problem!

[2020-08-08 09:40] gcatak commented on #126
I changed mygradle files to this library.

https://github.com/esafirm/android-image-picker

Now, it is working without any problem.

[2020-08-17 07:47] #126 closed

[2020-08-19 06:46] ranjitzade opened #127 "Crop functionality"
Hey, can you add crop functionality to the lib?

[2020-09-09 13:41] vivekjoyride opened #128 "When camera activity open I had to capture the photo 2 times"
`ImagePicker.with(context)
                                            .setCameraOnly(true)
                                            .setRootDirectoryName(Config.ROOT_DIR_DCIM)
                                            .setDirectoryName(getString(R.string.app_name))
                                            .setRequestCode(Config.RC_PICK_IMAGES)
                                            .

[2020-09-09 14:38] vivekjoyride opened #129 "kotlin.io.NoSuchFileException: /external/images/media/24205: The source file doesn't exist."
When i update to 1.3.3 to 1.4.3 getting crash
`kotlin.io.NoSuchFileException: /external/images/media/24205: The source file doesn't exist.
        at kotlin.io.FilesKt__UtilsKt.copyTo(Utils.kt:183)
        at kotlin.io.FilesKt__UtilsKt.copyTo$default(Utils.kt:181)
        at id.zelory.compressor.UtilKt.copyToCache(Util.kt:82)
        at id.zelory.compressor.Compressor$compress$3.invokeSuspend(Comp

[2020-09-10 14:07] ParryPatel021 commented on #121
I am using version `1.4.3` still having an issue in Android 10 Would you please update on this?

[2020-09-13 00:01] alejandro-rios commented on #121
I'm also using version `1.4.3` and testing with an OnePlus 5T with Android 10 is working, @ParryPatel021 can you give more info about your issue, like which phone model, or the stacktrace of the error, i suppose that would be helpful for the developers of this library

[2020-09-13 12:28] ParryPatel021 commented on #121
The issue is I cannot return the file path in `path` property available in Image Model and this is faced in device **Nokia 5.1** having  **Android 10**.

[2020-09-21 09:36] rakeshr-anvd commented on #125
Version 1.4.3 shows "Failed to open camera" on Android version 7,8 and 10

[2020-10-10 09:13] Srt9930 opened #130 "Done button still appearing after operation."
@nguyenhoanglam  Whenever i select and upload an image by clicking on the DONE, the image even being selected after operation succeed. and the ImagePicker activity destroy on when i close the parent activity.

[2020-10-15 06:30] 24Lathiya commented on #125
I am also facing same problem. just let me know i any have idea to fix it.

[2020-10-16 04:28] sonalirawat commented on #125
no Idea, Just change the library. Use another library for camera and
gallery images

On Thu, Oct 15, 2020 at 12:01 PM 24Lathiya <notifications@github.com> wrote:

[2020-10-18 13:11] #130 closed

[2020-10-21 16:09] mrNoolas commented on #124
For my emulator it seems to only work with albums that are owned by this app. Pictures in the gallery or elsewhere cannot be opened in Android 11 for me.

[2020-10-26 09:57] shaon2016 commented on #121
For security reasons you can't get the file path but you can get file Uri. Using this you can convert the Uri to file (Need to create a new file) or byte array. Using this both solution you can upload the image

I have implemented those solutions in my new library. You can check the methods.

https://github.com/shaon2016/ProPicker

[2020-12-07 12:04] farrakhj opened #131 "Image selection issue"
When done button is pressed after image selection sometimes onActivityResult is called and sometimes it is not called.

[2020-12-07 13:00] farrakhj commented on #131
When onActivityResult is not called than no image path is received.

[2020-12-11 17:42] jayantur13 opened #132 "Android 10 scoped storage"
I'm migrating to scoped storage,before migration everything was fine with legacy storage.But,while using scoped storage I'm not getting image path.

[2021-02-08 09:55] riocallos commented on #121
This answer [https://stackoverflow.com/a/9989900](https://stackoverflow.com/a/9989900) worked for me when you want to extract the file path from the uri for Android 10 devices and up.

[2021-02-24 13:41] Aisalkyn commented on #125
Still did not fixed this bug?

[2021-03-04 10:14] ArchangelXu commented on #124
Just built a library to support Android 11. Tested on Android 10 (device) and Android 11 (Simulator):
https://github.com/ming-xi/MXMediaPicker

[2021-03-04 10:15] ArchangelXu commented on #121
Just built a library to support Android 11. Tested on Android 10 (device) and Android 11 (Simulator):
https://github.com/ming-xi/MXMediaPicker

[2021-03-04 10:15] ArchangelXu commented on #132
Just built a library to support Android 11. Tested on Android 10 (device) and Android 11 (Simulator):
https://github.com/ming-xi/MXMediaPicker

[2021-03-04 18:52] dsounded opened #133 "setToolbarIconResource"
Thanks for the library!

It would be nice to have such an option :)

And having control over

`<item name="android:windowLightStatusBar">` will be also very useful

[2021-03-05 07:10] dsounded commented on #132
+1, this one is really relevant

[2021-03-30 10:14] Pocus76 opened #134 "Android 11 : Crash when capturing a photo from ImagePicker"
My Android S10+ running Android 11 is crashing when I try to capture a photo using the camera from the ImagePicker, otherwise it's working fine on a XCover 4S running Android 10.

I'm having the following stacktrace with Android 11 :
[code]

When capturing a photo with Android 10, the following Exception appears in the logs ut the photo get captured anyway and appears in the ImagePicker
[code]

I'

[2021-04-04 13:05] MahmoudAbunaji commented on #125
Same issue any solution ?

[2021-04-28 08:44] dgecek commented on #134
You are setting the wring directory name. From android 11 upwards you should use getExternalFilesDir(Environment.DIRECTORY_PICTURES):
https://developer.android.com/about/versions/11/privacy/storage

[2021-05-14 13:16] sasij commented on #125
I had the same problem on Android 11 and it was fixed adding this snipped to my AndroidManifest. Add it inside the `manifest` tag.

[code]

[2021-06-28 13:26] Pocus76 commented on #134
Thanks for your answer
Unfortunately, after setting this value it keeps crashing with the same error

[2021-07-12 06:40] Sharabaddin opened #136 "Q: How can i will copy selected file to Internal directory?"
Q: How can i will copy selected file to Internal directory?

[2021-11-12 06:09] frared358 commented on #124
@nguyenhoanglam it is still not working on Android11 devices but working on emulator..

[2021-11-15 05:12] jerinamathews commented on #96
Any update on this?

[2021-11-18 09:10] Pocus76 commented on #134
This issue was fixed in the latest version of the library, 1.5.1, huge thanks @nguyenhoanglam

[2021-11-18 09:10] #134 closed

[2021-12-11 07:20] RamesanPP opened #137 "Slow Time on loading Image"
[gallery issue.txt](https://github.com/nguyenhoanglam/ImagePicker/files/7696593/gallery.issue.txt)
This is the code which implements imagepicker.

When selecting a picture from gallery, it takes a noticeable time to update the picture in the app.

The image is being uploaded to local storage in the app.
PS: This code was not written by me. The app was already done by the company I work for.
I was

[2021-12-12 05:04] nguyenhoanglam commented on #137
@RamesanPP  It takes time to load because your code only updates profile photo after successfully upload it to server. To fix this, just move below code to the position before ```updateProfilePic()``` in ```onActivityResult``` callback:
[code]
![Screen Shot 2021-12-12 at 11 30 17 AM](https://user-images.githubusercontent.com/4979755/145700971-a5fce047-0200-4cca-9523-3c7058e7a1b1.jpeg)
![Screen Sho

[2021-12-14 07:00] #137 closed

[2021-12-15 20:18] RamesanPP commented on #137
@nguyenhoanglam Sorry for the late reply. Thanks for clearing the issue. By moving the code, the problem was fixed. But I could not however make it work in the latest updated version. When I try to update to 1.5.1, there are a lot of errors which I'm not gonna bother fixing now. Anyways, thanks and I'll definitely upgrade to the newest version for my newer builds.

[2021-12-16 03:23] nguyenhoanglam commented on #137
@RamesanPP v1.5.1 has a different code implementation. So maybe you encounter some errors. You should try it in your next builds!

[2021-12-25 03:16] #132 closed

[2021-12-27 05:50] GauravCreed opened #138 "set default selected images when open image picker?"
Hi @bkhezry

suppose when I open image picker and select 3 images from them, and after some time I want to edit it means some images is remove from it and some add on it,

so can I open pre selected images on it?
Thanks.

[2021-12-27 20:52] bkhezry commented on #138
Hi @GauravCreed,
for this library I think where is no way to do that!

[2022-01-08 11:25] GauravCreed commented on #138
@bkhezry Thanks.

[2022-01-26 05:17] benny831228 opened #139 "Photo flipped 90 degrees"
Thanks for the library!

I use version 1.5.1
Why is the photo flipped 90 degrees after taking a photo?

[2022-02-16 10:55] Pocus76 opened #140 "Android 11 - Can't see images from SD Card"
Hi,

I'm having a problem using your library with the latest version (1.5.1) on Android 11, the medias from the SD Card aren't shown and therefore I'm not able to select those files.

Is there a way to fix it ?

Thanks for your help and for the library

[2022-02-18 13:15] buttonDeveloper commented on #139
have the same issue. pls help

[2022-04-06 22:13] MxitarHakobyan opened #141 "Caused by java.lang.NullPointerException Issue"
Hi dear @nguyenhoanglam and **contributors**
Thanks for a **great** library

There is an exception described **below**

**Version** **1.5.1**

I think that reason from code mentioned in screenshots **below**

![Screenshot 2022-04-07 020542](https://user-images.githubusercontent.com/22564765/162080289-f55957f6-40c3-4588-a869-74117b7b26ed.png)

![Screenshot 2022-04-07 020707](https://user-images.git

[2022-04-08 05:49] twnth commented on #141
i have same issue, plz fix this asap

[2022-04-08 07:24] #133 closed

[2022-04-08 07:56] nguyenhoanglam commented on #141
@MxitarHakobyan @twnth Hi guys, following @MxitarHakobyan debug code, I've just released v1.5.2 which contains a null safety condition. Please check it out and let me know if it works.
Thanks for supporting the library!

[2022-04-08 08:01] nguyenhoanglam commented on #139
@benny831228 @buttonDeveloper
- I've just released v1.5.2 with a rotation fix for api 29 and higher. Please check it out!
- For api 28 and lower, I don't implement a fix because I don't have a real device to test.

Thanks!

[2022-04-08 09:09] twnth commented on #141
@nguyenhoanglam
Thanks for your quick resolution. NPE in landscape mode is now resolved. But now when I click the OK button after taking a picture in landscape mode, it doesn't go to the next

[2022-04-08 09:48] twnth opened #142 "@nguyenhoanglam"
@nguyenhoanglam
Thanks for your quick resolution. NPE in landscape mode is now resolved. But now when I click the OK button after taking a picture in landscape mode, it doesn't go to the next

_Originally posted by @twnth in https://github.com/nguyenhoanglam/ImagePicker/issues/141#issuecomment-1092631798_

[2022-05-03 11:52] VozNick opened #143 "Empty Gallery"
Hi,
I use library v1.5.2
on Huawei P smart+ (android 9) says the gallery is empty.
* all permissions are granded
* gallery does have photos
* tested on many phones (samsung, pixel, xiaomi), made all same steps,  - gallery shows files, exept on huawei

thanks

[2022-06-29 11:52] nguyenhoanglam commented on #143
@VozNick  @twnth you got the issue on Huawei device too? I don't have a Huawei device so I can not debug to check this issue.
So, I would be grateful if you guys could fork this lib and help me debug it. Thanks in advance!

[2022-06-30 03:28] dattran-pt19 commented on #143
@nguyenhoanglam Mình cũng bị bug tương tự trên Android 11, không hẳn Android 11 nào cũng bị nhưng bạn có thể debug ở máy ảo thử xem. Mình config 1 máy ảo Pixel 3a 1080x2220 Android 11.0 (R - API 30 - x86) thì có xảy ra lỗi

[2022-06-30 06:51] dattran-pt19 commented on #143
In fetchImages function have Exception "BucketName must not be null"

[2022-06-30 07:18] nguyenhoanglam commented on #143
@dattran-pt19 tui vừa test trên máy ảo như ông nói, chạy vẫn load được hình. ông debug rồi coi thử có thể fix cho nó không lỗi BucketName bị null được ko? xong thì ông tạo PR lên giúp tui.

cám ơn nhiều nhé!

[2022-06-30 07:32] dattran-pt19 commented on #143
@nguyenhoanglam Case này là do lỗi dữ liệu của máy thì phải, máy ảo t chạy sẽ bị lỗi khi có ảnh nằm trong sdk_gphone_x86_arm. Chắc khi ảnh nằm ở vị trí không thuộc folder nào như thế cursor k index ra được nên trả ra bucketName null. Ông chỉ cần check nếu bucketName bị null thì continue vòng While là được

[2022-06-30 07:48] nguyenhoanglam commented on #143
@dattran-pt19 cái này chắc nhờ ông fix giúp t quá. chứ giờ t ko biết nó lỗi ở dòng nào mà check null. ông fix xong rồi test coi nó ok ko? làm phiền ông giúp tui nhé!

[2022-06-30 08:07] dattran-pt19 commented on #143
@nguyenhoanglam Tui vừa tạo PR rồi nhé

[2022-06-30 09:07] nguyenhoanglam commented on #143
@dattran-pt19 t có comment trong PR đó. ông coi thử.

[2022-07-01 01:15] nguyenhoanglam commented on #143
@VozNick @twnth Please upgrade to v1.5.3 to help me check if the bug has been fixed.
Thank @dattran-pt19 for helping me out with this issue! 🙌 🙌

[2022-07-01 02:36] twnth commented on #143
@nguyenhoanglam
Sorry for the late confirmation and Thank you for your quick resolution, it has fixed!!!
i love you man

[2022-07-01 06:45] #143 closed

[2022-07-01 06:45] #139 closed

[2022-07-01 06:47] nguyenhoanglam commented on #124
@frared358 v1.5.3 just has been released. Check it out!

[2022-07-01 06:48] #124 closed

[2022-07-01 06:48] #99 closed

[2022-07-01 06:49] nguyenhoanglam commented on #140
@Pocus76 Please check out v1.5.3 and let me know if it works!

[2022-07-08 12:36] Pocus76 commented on #140
@nguyenhoanglam Hi, I tried today using the latest version, unfortunately I'm still unable to see the pictures from my SD card.
Is there anything to set in AndroidManifest.xml or in ImagePickerConfig ?
Thanks!

[2022-07-18 10:06] aerocube-tech opened #145 "How to call launcher in java project?"
Can I use this library in java project? if yes then how?

[2022-10-14 06:29] aerocube-tech opened #147 "Not working in android 33"

[2022-10-14 10:29] Pocus76 commented on #145
Hi,

Here's what the author replied to me a few months ago :

ImagePickerConfig config = new ImagePickerConfig();

[code]

[2022-10-18 04:48] jateengadhiya commented on #147
![WhatsApp Image 2022-10-18 at 10 17 14 AM](https://user-images.githubusercontent.com/18609131/196337846-2ef5d340-56bd-489e-b0d2-1adc59375c0c.jpeg)

Please find the attached Screenshot. It working fine on android 31. But when it switch to android 33. This show error on reading media file. Please check and verify.

[2022-11-09 16:05] ZoeVale opened #148 "Permission Camera Problems on Android 31 and up"
Thanks for you job. I love your library, but there's a problem:

If i accept grant permissions from pop up and then i disable camera  permission from settings, the app can open photo Library but if i touch on camera button the app crash. See log please:

java.lang.SecurityException: Permission Denial: starting Intent { act=android.media.action.IMAGE_CAPTURE flg=0x3 cmp=com.android.camera2/com.andr

[2022-11-10 00:40] ZoeVale commented on #147
Hello any idea? It's seam a permission problem

[2022-11-14 08:06] nguyenhoanglam commented on #148
@ZoeVale which android version are you using?

[2022-11-14 08:06] nguyenhoanglam commented on #148
@ZoeVale which android version are you using?

[2022-11-14 08:11] nguyenhoanglam commented on #147
Hi guys, I don't have any device running api 33. So I test it on emulator but do not see any permission issue.
It would be nice if you guys help me debug the error while I'm earning money to buy new device. Thanks a lot!

[2022-11-14 14:21] ZoeVale commented on #148
Hi @nguyenhoanglam ,
I Use 2 devices (android 31 and android 33)

This is my grade

android {
    compileSdkVersion 33

    defaultConfig {
        applicationId "XXXXXXXXX"
        minSdkVersion 26
        targetSdkVersion 33
       ----
....
}

[2022-11-14 14:24] ZoeVale commented on #147
hi @nguyenhoanglam about test this issue you can start application accept permission (if you have any) and then go to settings of your app and remove permission.

You notice that permission are for you library not for the application so you can't resolve the issue

[2022-11-16 08:11] aerocube-tech commented on #147
Got Solution. There is new permission for Android Tiramisu (Android 33) for reading device images.

`
<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"

[2022-11-16 08:14] aerocube-tech commented on #147
`
<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

<uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                 android:maxSdkVersion="32" />

<uses-permission android:name="android.permission.WRITE_EXTE

[2022-11-16 08:15] aerocube-tech commented on #147
please check the @[link](https://developer.android.com/training/data-storage/shared/media#storage-permission)

[2022-11-25 17:15] petrstetka commented on #147
@aerocube-tech How did you solve it? I tried add READ_MEDIA_IMAGES permission into AndroidManifest and runtime asked on this permission but I am still getting blank screen like on screenshot [above](https://github.com/nguyenhoanglam/ImagePicker/issues/147#issuecomment-1281811442)

[2022-11-26 06:31] aerocube-tech commented on #147
@petrstetka This is how you set the permission in manifest.

<uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:replace="android:maxSdkVersion"/>

and later you ha

[2022-11-26 13:44] nguyenhoanglam commented on #147
@aerocube-tech @jateengadhiya @ZoeVale @petrstetka Version 1.5.5 is available now. Please help me check it out and let me know if the bug is gone.

Sorry for letting you guys wait for so long... 😅

[2022-11-26 14:11] zoelounge commented on #147
Ho @nguyenhoanglam i try in the afternoon.
At a moment I resolve problems with a tricks.

On OnCreate I call my fun "checkPermission" so if there's some problems I resolve.

But it doesn't run if user go to steering's and toggle the permissions.

[2022-11-26 14:23] nguyenhoanglam commented on #147
@zoelounge You can try v1.5.5 without using any tricks.
```READ_EXTERNAL_STORAGE``` has been removed on Android 13. That's why the permission request always fails. So, I've added ```READ_MEDIA_IMAGES``` to support Android 13 or higher. Please check it out!

[2022-11-26 14:24] zoelounge commented on #147
Ok I'll try it on afternoon.
Thanks so much for your job. 👍

[2022-11-27 23:04] petrstetka commented on #147
@nguyenhoanglam Version 1.5.5 works for me on Android 13. Thank you!
In my opinion, this issue can be closed and be considered as resolved.

[2022-11-28 17:11] mehrdadnoruzy opened #149 "Image model does not include the path variable"
Image model does not include the "path" variable ( "image.path" does not exist ), In the previous java version, this was available in the class, but unfortunately it has been removed in the new kotlin version

I need something like this :
https://github.com/esafirm/android-image-picker/blob/2.x/imagepicker/src/main/java/com/esafirm/imagepicker/model/Image.kt

I need this format :
/storage/emulated